.connected_btn {
  all: unset;
  cursor: pointer;
  font-size: 0.8em;
  display: flex;
  gap: 10px;
  align-items: center;
  border: 0.5px solid transparent;
  padding: 0.2em;
  border-radius: 2em;

  span {
    font-family: Aeonik, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #fff;
    font-size: 1.25em;
  }

  &:hover {
    border: 0.5px solid white;
    background-color: transparent;
    color: #fff;
    border-radius: 2em;
  }
}

.holo {
  background: conic-gradient(
    from 209.59deg at 50% 50%,
    #f3b8d8 0deg,
    #b793e9 50.06deg,
    #9fd4f3 85.94deg,
    #ffd2c4 134.97deg,
    #fbf3f3 172.05deg,
    #d9abdf 200.75deg,
    #af9ce3 224.67deg,
    #aae4e1 259.36deg,
    #c6ead0 298.82deg,
    #ffffff 328.72deg,
    #fdb5e4 360deg
  );
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connected-btn-in-modal img {
  background: none;
}

.connected_img {
  background: none;
  border: none;
}
