@import "../../styles/config.scss";

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: $backgroundBlack;
  padding: 50px;
  z-index: 1000;
  //   opacity: 0.96;
  overflow-y: auto;
  .search {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
    height: 150px;
    .icon {
      position: absolute;
      width: 40px;
      left: 85px;
    }

    input {
      color: white;
      // text-align: center;
      min-width: 250px;
      width: 100%;
      // border: solid white 1px;
      border: none;
      background-color: transparent;
      padding-left: 6rem;
      padding-right: 1rem;
      margin-right: 20px;
      height: 100%;
      font-size: 60px;
      border-radius: 50px;
      // outline: none;
    }
  }
}

.back {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.titles {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.sort {
  display: flex;
  gap: 4px;
}
