.container {
  display: grid;
  grid-template-columns: 1fr;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  min-height: 850px;
  width: 100%;
  border: solid 2px red;
  padding-bottom: 10px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  justify-self: center;
  h1 {
    margin-bottom: 80px;
  }
}

.blockchain {
  background-color: grey;
  width: 150px;
  height: 50px;
  margin: 0 5px 0 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  background-color: transparent;

  img {
    position: absolute;
    width: 14px;
    margin-left: 20px;
    margin-top: 17px;
  }

  input {
    text-align: center;
    min-width: 255px;
    border: solid white 1px;
    background-color: transparent;
    padding-left: 2rem;
    padding-right: 1rem;
    height: 50px;
    font-size: 0.9rem;
    border-radius: 2rem;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    // box-shadow:  inset 0 0 0 200px rgba(255, 255, 255, 0.09);

    // border-top: 0.5px solid rgba(225, 225, 225, 0.3);
    // border-left: 0.5px solid rgba(225, 225, 225, 0.1);
    // border-right: 0.5px solid rgba(225, 225, 225, 0.2);
  }
}

.carousel {
  width: 100%;
  align-self: flex-end;
}
