@import "../../styles/config.scss";

.infoBoxContainer {
  position: absolute;
  height: 294px;
  width: 496px;

  z-index: 1;
  @include max-620px {
    width: 296px;
    height: 249px;
    display: flex;
  }
}

.infoBoxContainerStats {
  position: absolute;
  height: 294px;
  width: 496px;
  top: 250px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  @include max-620px {
    width: 296px;
    height: 249px;
    display: flex;
  }
}

.infoBox {
  background-color: $fluidBlack;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  h1 {
    cursor: pointer;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.02em;

    @include max-620px {
      font-size: 36px;
    }

    &:hover {
      opacity: 0.6;
    }
  }
  h3 {
    margin: 6px;
    @include max-620px {
      font-size: 16px;
    }
  }
}

.infoBoxTransparent {
  background-color: transparent;
  padding: 70px 70px 70px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 460px;
  z-index: 3;
  h1 {
    cursor: pointer;
    margin: 0;
    font-size: 80px;

    @include max-620px {
      font-size: 36px;
    }

    &:hover {
      opacity: 0.6;
    }
  }
  h4 {
    margin: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    @include max-620px {
      font-size: 16px;
    }
  }
}

.fadeIn {
  transition: opacity 3s ease;
  display: flex;
  justify-content: center;
}

.fadeOut {
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 0;
}

.loadingRow {
  height: 20px;
  width: 20px;
  background-color: gray;
  border-radius: 50%;
}
.overlap {
  z-index: 9;
}
