version: '3'
services:
  {{ CONFIG.SERVICE_NAME }}:
    container_name: {{ CONFIG.SERVICE_NAME }}
    image: {{ CONFIG.AWS_ACCOUNT_ID }}.dkr.ecr.{{ CONFIG.AWS_REGION }}.amazonaws.com/{{ CONFIG.DOCKER_IMAGE }}:{{ CONFIG.DOCKER_TAG }}
    ports: 
      - 80:80
    logging:
      driver: awslogs
      options:
        awslogs-group: {{ CONFIG.LOG_GROUP }}
        awslogs-region: {{ CONFIG.AWS_REGION }}
        awslogs-stream-prefix: {{ CONFIG.SERVICE_NAME }}
    {% block environmentvariables %}
      
    {% endblock %}