@use '../../../common' as *;

.reverse {
  flex-direction: row-reverse;
}
  
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: $white;

  > * {
    flex: 1 1 0px;
  }
  
  @include respond-to('small') {
    flex-direction: column;
    
    > * {
      max-width: 100%;
    }
  }
}

