@import "../../styles/config.scss";

.container {
  min-height: 850px;
  width: 100%;
  padding-right: 14px;
  border: solid 2px red;
   h1 {
     margin-left: 55px;
     margin-top: 100px;
   }

   div {
      width: 95%;
      margin-bottom: 30px;
      margin-left: 30px;
      margin-top: 30px;

      @include mobile {
        margin-left: 16px;
      }
   }
}
