@use "common" as *;

.dotLoader {
  width: $em-step * 3;
  height: $em-step * 3;
  border-radius: 5px;
  background-color: $white-a90;
  color: $white-a90;
  animation: dot-loader 1s infinite linear;
  margin: 1em;
}

.dotLoader::before,
.dotLoader::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dotLoader::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $white-a90;
  color: $white-a90;
  animation: dot-loader-before 1s infinite linear;
}

.dotLoader::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $white-a90;
  color: $white-a90;
  animation: dot-loader-after 1s infinite linear;
}

@keyframes dot-loader-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-loader {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-loader-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
