@use "common" as *;

.ProgressBar {
  position: relative;
  height: 24px;
  overflow: hidden;
  padding: 0;

  &.sm {
    height: 8px;
  }

  &.md {
    height: 16px;
  }

  &.lg {
    height: 24px;
  }

  .barContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: transparent;
    overflow: hidden;

    &.round {
      border-radius: 0 100px 100px 0;
    }

    &.holobox, &.transparent {
      background-color: white;
    }

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      &.holobox, &.transparent {
        background: $holo;

        &.sm {
          filter: blur(4px);
        }
        
        &.md {
          filter: blur(6px);
        }

        &.lg {
          filter: blur(8px);
        }
      }

      &.frosted {
        background: rgba(255, 255, 255, 0.102);
      }

      &.gray {
        background: map-get($border, "default");
      }

      &.box-prominent, &.box {
        background: map-get($border, "prominent");
      }
      
    }
  }
}