
docker
docker-*
!docker-compose*

lib/build-lib

common/build-common

cmd/*/test
cmd/*/docker
cmd/*/lint
cmd/*/*.o

database/build

web/*/dist*
web/*/node_modules
web/*/build*
web/*/build-*
web/*/*.o

contracts/ethereum/node_modules
contracts/ethereum/docker*

contracts/solana/fuzz/target
contracts/solana/docker
contracts/solana/validator
contracts/solana/cargo_fuzz
contracts/solana/target
contracts/solana/cargo_test
contracts/solana/soteria_analyze
contracts/solana/.coderrect
contracts/solana/miri_test
contracts/solana/cargo_geiger
contracts/solana/cargo_audit
contracts/solana/testing/fuzz/target
!contracts/solana/testing/*
