
docker
docker-*
!docker-compose.sh

cmd/*/test
cmd/*/docker
cmd/*/lint
cmd/*/*.o

database/build

web/*/dist*
web/*/node_modules
web/*/build*

contracts/ethereum/node_modules
contracts/ethereum/docker*
