.LootBottle {

  &.sm {
    min-height: 24px;
    height: 24px;

    svg {
      width: auto;
      height: 100%;
    }
  }

  &.lg {
    min-height: 48px;
    height: 48px;

    svg {
      width: auto;
      height: 100%;
    }
  }
}