.LootBottle {

  &.sm {
    min-width: 24px;
    width: 24px;
    min-height: 24px;
    height: 24px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.lg {
    min-width: 48px;
    width: 48px;
    min-height: 48px;
    height: 48px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}