@import "../../styles/config.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  width: 100%;
  background-color: $fluidBlack;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 500px;
    gap: 10px;
    // border: 1px solid $fluidWhite;
    text-align: center;
    background-color: $backgroundBlack;
    padding: 20px;
    &:hover {
      opacity: 0.8;
    }

    img {
      margin-bottom: 25px;
    }

    // P {
    //   font-size: 10px;
    //   margin-top: 10px;
    // }
  }
}

.carousel {
  width: 100%;
  align-self: flex-end;
}

.callout {
  display: flex;
}

.text {
  margin-right: 10px;
  &Hollow {
    margin-right: 10px;
  }
}
