@import "../../styles/config.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: $fluidBlack;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 20px;
    &:hover {
      opacity: 0.8;
    }

    img {
      margin-bottom: 25px;
      @media (max-width: 500px) {
        width: 310px;
      }
    }
  }
}

.carousel {
  width: 100%;
  align-self: flex-end;
}

.callout {
  display: flex;
}

.text {
  margin-right: 10px;
  &Hollow {
    margin-right: 10px;
  }
}
