@import "../../styles/config.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  width: 100%;
  background-color: $fluidBlack;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 500px;
    border: 1px solid $fluidWhite;
    text-align: center;

    img {
      margin-bottom: 25px;
    }

    P{
      font-size: 10px;
      margin-top: 10px;
    }
  }
}

.carouselText {
  h2 {
    margin-right: 20px;
    opacity: 1;
  }
  background-color: $fluidBlack;
}
