.dropdown_options {
  background: rgba(50, 50, 50, 0.75);
  box-sizing: border-box;
  padding: 5px;
  border-radius: 12px;
  position: absolute;
  top: 20px;
  right: 0px;
  width: 175px;
  display: flex;
  flex-direction: column;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      .option {
        all: unset;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 12px;
        padding: 8px 12px;
        box-sizing: border-box;

        &:hover {
          background: rgba(99, 99, 99, 0.75);
        }
      }
    }
  }
}
