.container {
  // height: 520px;
  min-width: 440px;
  margin: 24px;
  gap: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  justify-content: space-between;

  img {
    width: 185px;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 376px;
    height: 166px;
  }

  @media (max-width: 500px) {
    min-width: 300px;
  }
}
