@use 'common' as *;

.tooltip {
    background-color: rgba(255, 255, 255, 0.05);
    width: min-content;
    white-space: nowrap;
    padding: 10px;
    height: 100px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: Aeonik, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    text-align: center;
}