@use 'common' as *;

.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 30px;
}

.content {
  box-sizing: border-box;
  display: flex;
  background-color: transparent;
  overflow-x: scroll !important;

  /* width */
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px !important;
    border-radius: 10px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #2c2c2d !important;
    border-radius: 10px !important;
    margin-right: 20px !important;
    margin-left: 5px !important;
  }
  &::-webkit-scrollbar-track:hover {
    background: #555 !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: map-get($bg, "alternate") !important;
    border-radius: 10px !important;
  }

  &::-webkit-scrollbar:horizontal {
    height: 5px !important;
  }

  /* Handle on hover */
  //   &::-webkit-scrollbar-thumb:hover {
  //     background: rgba(255, 255, 255, 0.844);
  //     border: none;
  //     cursor: pointer;
  //   }
}

.hidden {
  box-sizing: border-box;
  display: flex;
  background-color: transparent;
  overflow-x: auto;

  /* width */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
