@use 'common' as *;

.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 30px;
}

.content {
  box-sizing: border-box;
  display: flex;
  background-color: transparent;
  overflow-x: auto;

  /* width */
  &::-webkit-scrollbar {
    height: 5px;
    border-radius: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #2c2c2d;
    border-radius: 10px;
    margin-right: 80px;
    margin-left: 40px;
  }
  &::-webkit-scrollbar-track:hover {
    background: #555;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: map-get($bg, "alternate");
    // border: 1px solid #051323;
    border-radius: 10px;
  }

  /* Handle on hover */
  //   &::-webkit-scrollbar-thumb:hover {
  //     background: rgba(255, 255, 255, 0.844);
  //     border: none;
  //     cursor: pointer;
  //   }
}

.hidden {
  box-sizing: border-box;
  display: flex;
  background-color: transparent;
  overflow-x: auto;

  /* width */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
