.SliderButton {
  border: 1px solid white;
  background-color: transparent;
  height: 66px;
  box-sizing: border-box;
  gap: 8px;
  font-size: 16px;
  border-radius: 100px;
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: default;

  .draggable {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: transparent;

    .track {
      background: white;
      width: 5000px;
      height: 100%;
      position: absolute;
      right: 32px;
      z-index: 1;
      cursor: grab;
    }

    .thumb {
      z-index: 2;
      box-sizing: border-box;
      position: absolute;
      height: 64px;
      width: 64px;
      left: 0;
      top: 0;
      background-color: white;
      border-radius: 100px;
    }
  }

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    pointer-events: none;
    white-space: nowrap;
    width: auto;
    transform: translate(-50%, -50%);
  }
}
