@use 'common' as *;

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 582px;
  height: 356px;
  padding: 48px;
  background: $white-a5;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 5;
  
  & > * {
    width: 100%;
  }
  
  &.mobile {
    justify-content: center;
    align-items: start;
    height: 100vh;
    width: 100vw;
    background: map-get($bg, "default");
  }
  
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    
    & > h4 {
      margin: 0px;
    }
  }
  
  .card {
    width: 100%;
    height: 92px;
    margin-bottom: 4px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    
    & > * {
      margin: 4px;
    }
  }
}
