.videoContainer {
    position: relative;
    mix-blend-mode: lighten;
}

.fill {
    object-fit: fill;
}

.fit {
    object-fit: fit;
}

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

.reduce {
    object-fit: scale-down;
}

.none {
    object-fit: none;
}
