.container {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  
  > .value {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8em;
    white-space: nowrap;

    > img, svg {
      width: 2.4em;
      aspect-ratio: 1/1;
      object-fit: contain;
    }
  }

}

.noPadding {
  padding: 0;
  margin: 0;
}

