@import "config";

html {
  // Root font size
  font-size: 16px;
  font-family: "arial";
  color: $fluidWhite;
  box-sizing: border-box;
  background-color: #000;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// global tag properties
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $fluidBlack;
  overflow-x: hidden;
  // hide scrollbar at the side of the website
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $fluidWhite;
}

button {
  cursor: pointer;
}

.bg-dark {
  background-color: $fluidBlack;
}

.bg-light {
  background-color: $fluidWhite;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $textGrey;
  border-radius: 10px;
}