@use 'common' as *;

.CardCarousel {
  position: relative;

  .content {
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 200px;
  
    .slide {
      cursor: grab;
      position: absolute;
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }

  .arrow {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
    border-radius: 100px;
    width: 2em;
    height: 2em;
    border: 1px solid map-get($border, "default");
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    left: -1em;
    bottom: -1em;
  
    &:last-child {
      left: auto;
      right: -1em;
    }
  
    svg {
      width: 0.7em;
      height: 0.7em;

      path {
        fill: map-get($border, "default")
      }
    }

    &:hover {
      border: 1px solid white;
      path {
        fill: white;
      }
    }
  }

  .navbar {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;

    .dot {
      width: 0.4em;
      height: 0.4em;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      background-color: map-get($border, "default");

      &.active {
        background-color: white;
      }
    }
  }
}

.SlideContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}