.ProvideLiquidity {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  align-items: top;
  gap: 2em;
  max-width: 60em;
  width: auto;
  padding: 2em;

  .provide-liquidity-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1em;

    .provide-heading {
      margin: 0;

      .open-provider-dropdown {
        all: unset;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 0.2em;
        position: relative;

        &:hover {
          h1, img {
            opacity: 0.8;
          }
        }


        .fluid-liquidity-token {
          text-decoration: underline;
          text-decoration-thickness: 2px;
          text-underline-offset: 4px;
          margin: 0;
        }
      }
    }

    .liquidity-providers {
      gap: 0.75em;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
    
      a {
        cursor: pointer;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 4px;
    
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
    
        img {
          width: 4.5em;
        }
      }
    }
  }

  .provide-liquidity-right {
    display: flex;
    justify-content: center;
    align-items: center;

    .provide-liquidity-right-images {
      position: relative;
      width: 200px;
      height: 200px;

      .dashed-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border: 1px dashed #fff;
        border-radius: 50%;
      }
    }
  }

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    padding: 1em;
    padding-top: 0;

    .provide-liquidity-left {
      order: 1;
      align-items: center;
      justify-content: center;
      text-align: center;

      .liquidity-providers {
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media (max-width: 500px) {
    padding: 1em;

    .liquidity-providers {
      align-items: center;
      justify-content: center;
    }
  }
}

.dropdown-options {
  background: rgba(50, 50, 50, 0.65);
  box-sizing: border-box;
  padding: 5px;
  border-radius: 12px;
  position: absolute;
  top: 50px;
  left: -15px;
  width: 175px;
  display: flex;
  flex-direction: column;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      .token-option {
        all: unset;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 12px;
        padding: 4px 8px;
        box-sizing: border-box;

        &:hover {
          background: rgba(99, 99, 99, 0.75);
        }
      }
    }
  }
}