@use 'common' as *;

.token-details-container {
  padding-left: 5px;
  padding-bottom: 45px;
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2em 1fr 1fr;
  align-items: bottom;
  justify-content: right;
  gap: 5px;
}

.vertical-text {
  display: flex;
  align-items: end;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.tokenImg {
  height: auto;
  width: 64px;
}