@use 'common' as *;

.TokenDetails {
  padding: 2em;
  padding-top: 0;
  padding-left: 128px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  gap: 2em;

  &.isMobile {
    flex-direction: column;
    padding-left: 2em;

    .details {
      margin-right: 0;
      align-items: center;

      .prizes {
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 5px;
        padding: 1rem;
        width: 100%;
        justify-content: center;

        .prize {
          align-items: center;
        }
      }

      .activity{
        width: 100%;

        th:last-child, td:last-child {
          text-align: right;
        }

        th:first-child, td:first-child {
          text-align: left;
        }
      }
    }

    .graph {
      height: 100px;
    }
  }

  a {
    color: $textGrey;
    text-decoration: none;
    border-bottom: 1px solid $textGrey;
    padding-bottom: 1px;
  }

  .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .prizes {
      display: flex;
      flex-direction: row;
      margin-bottom: 1em;
  
      .prize {
        display: flex;
        flex-direction: column;
        width: auto;
        white-space: nowrap;
        margin-right: 2em;

        &:last-child {
          margin-right: 0;
          padding-left: 2em;
          border-left: 1px solid $backgroundGrey;
        }
      }
    }

    .activity {
      position: relative;
      margin-bottom: 1.5em;

      .vertical-text {
        display: flex;
        font-family: 'Whyte Inktrap', serif;
        color: $backgroundGrey;
        align-items: end;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        position: absolute;
        bottom: 0;
        left: calc(-0.5em - 64px);
      }

      table {
        width: 100%;
        border: none;
        border-collapse: inherit;
        border-spacing: 0;
        border-color: inherit;
        margin: 0;
  
        thead {
          text-transform: uppercase;
          text-align: left;
          th {
            border-bottom: 1px solid $backgroundGrey;
            padding: 0.5em 0;
          }
  
        }
      
        tbody {
          tr {
            td {
              padding: 0.5em 0;
              border: none;
              border-bottom: 1px solid $backgroundGrey;
            }
          }
        }
      }
    }
  }
    
  .graph {
    flex-basis: 30%;
    flex-shrink: 1;

    mix-blend-mode: screen;
  }
}