@import "../../styles/config.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 850px;
  width: 100%;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  width: 100%;
  height: 100%;
  min-height: 700px;
  padding: 40px;
  @include max-860px {
    grid-template-columns: 1fr;
  }
}

.left {
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  grid-gap: 30px;
  font-size: 25px;
  max-width: 400px;
  color: $textGrey;
  @include max-860px {
    order: 1;
  }
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  @include max-860px {
    height: 640px;
  }
  @media (max-width: 620px) {
    height: 500px;
  }
}

.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text {
  margin-right: 10px;
  &Hollow {
    margin-right: 10px;
  }
}

.backgroundText {
  position: absolute;
  opacity: 0.2;
  z-index: 1;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
  align-self: flex-end;
}

.callout {
  display: flex;
}

.behind {
  width: 90%;
  max-width: 700px;
  @media (max-width: 1130px) {
    max-width: 500px;
  }
}
