@use 'common' as *;

.container {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 4px;
  border-radius: 40px;
  position: fixed;
  bottom: 5vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 60;

  .black {
    background-color: black;
  }

  & span {
    cursor: pointer;
    margin: 20px;
    @media (max-width: 620px) {
      margin: 10px 20px 10px 20px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
  @media (max-width: 620px) {
    align-items: center;
    bottom: 0vh;
    background-color: black;
    width: 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
