@use 'common' as *;

.container {
  display: flex;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  width: fit-content;
  padding: 4px;
  border-radius: 40px;
  position: fixed;
  bottom: 5vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 60;
  
  .black {
    background-color: black;
  }

  & span {
    cursor: pointer;
    margin: 20px;
    &:hover {
      opacity: 0.8;
    }
  }
  @media (max-width: 620px) {
    // grid-template-columns: 1fr;
    // flex-direction: column;
    align-items: center;
    bottom: 2vh;
    background-color: transparent;
    opacity: 0.9;
    width: 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
