version: 1
task_definition:
  ecs_network_mode: {{ CONFIG.NETWORK_MODE }}
  task_role_arn: arn:aws:iam::{{ CONFIG.AWS_ACCOUNT_ID }}:role/{{ CONFIG.TASK_ROLE }}
  task_execution_role: arn:aws:iam::{{ CONFIG.AWS_ACCOUNT_ID }}:role/{{ CONFIG.TASK_EXECUTION_ROLE }}
  task_size:
    cpu_limit: {{ CONFIG.CPU_LIMIT }}
    mem_limit: {{ CONFIG.MEM_LIMIT }}
  services:
    {{ CONFIG.SERVICE_NAME }}:
      essential: true
      {% block secrets %}
      
      {% endblock %}
      {% block healthcheck %}
      
      {% endblock %}
run_params:
  task_placement:
    strategy:
      - type: spread
        field: attribute:ecs.availability-zone
  network_configuration:
    awsvpc_configuration:
      subnets:
        - {{ CONFIG.SUBNETA }}
        - {{ CONFIG.SUBNETB }}
        - {{ CONFIG.SUBNETC }}
      security_groups:
        - {{ CONFIG.SECURITY_GROUP }}
      assign_public_ip: ENABLED