.prize-board-container {
  grid-column: 1/-1;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background: #051323;
  border: 2px solid $border-color;
  border-radius: 30px;
  padding-right: 7%;
  @include for-tablet-landscape-down {
    width: 600px;
    padding-right: 7%;
  }
  @include for-phone-only {
    width: 400px;
    padding-right: 6%;
  }
  @include for-below-400 {
    width: 300px;
    padding-right: 0%;
  }
}

.prize-box-container {
  box-sizing: border-box;
  background: #051323;
  text-align: center;
  border-radius: 30px;
  grid-column: 1/-1;
  margin-right: auto;
  margin-left: auto;
  height: fit-content;
  width: fit-content;
  border: 2px solid #7daaa6;
  padding: 2rem;
  gap: 1rem;

  flex-direction: column;
  text-align: center;
  height: auto;

  @include for-tablet-portrait-up {
    min-width: -webkit-fill-available;
  }
  @include for-tablet-landscape-up {
    // max-width: 45rem;
    min-width: 640px;
  }
  @include for-1300-up {
    // max-width: 45rem;
    flex-direction: row;
    max-width: fit-content;
  }
}

/* prize board */
.prize-info-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1rem;
  font-size: 1rem;
  @include for-phone-only {
    grid-template-columns: auto auto;
    > div:nth-child(3n) {
      display: none;
    }
  }
  @include for-tablet-portrait-up {
    width: 30rem;
  }
  @include for-tablet-landscape-up {
    width: 40rem;
  }
}

.prize-info-table {
  width: 100%;
  table-layout: fixed;
}

.prize-info-table-body {
  padding-top: 20px;
}

.prize-info-table td {
  color: white;
  text-align: center;
  @include for-phone-only {
    font-size: x-small;
  }
  @include for-below-400 {
    font-size: 8px;
  }
}

.swap-box-header {
  font-size: 1.2rem;
}

.swap-box-subheader {
  font-weight: 500;
}
