.table-header {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.table {
  width: 100%;
  border-spacing: 0 0.25em;
}

.table > thead > tr > th {
  text-align: left;
  padding: 0.5em;
}

.table > thead > tr > th:last-child {
  text-align: right;
}

.table > tbody > tr > td {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1em 0.5em 1em 0.5em;
}

.table > tbody > tr > td:last-child {
  text-align: right;
}

.pagination {
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.pagination-numbers {
  display: flex;
  gap: 0.5em;
}

.pagination-numbers .current-pagination {
  all: unset;
  cursor: pointer;
  color: white;
}

.pagination-numbers .pagination-number {
  all: unset;
  cursor: pointer;
}

.pagination-arrows {
  display: flex;
  gap: 1em;
}

.pagination-arrows .pagination-arrow {
  cursor: pointer;
}

.pagination-arrows .pagination-arrow-off {
  cursor: auto;
}
