@import "../../styles/config.scss";

.ecosystem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  overflow: visible;
  padding: 100px 0;

  .bloom {
    transform: scaleY(0.5) scaleX(2);
    opacity: 0.3;
    translate: 0 -85px;
  }

  .protocol {
    flex-shrink: 0;
    flex-wrap: nowrap;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px 10px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;

    .external {
      svg > path {
        stroke: currentColor;
      }
    }
  }
}

.carousel {
  width: 100%;
  max-width: 1400px;
  height: 40px;
  display: flex;
  flex-direction: row;
  position: relative;

  &::before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 1)
    );
    z-index: 1;
  }

  .row {
    position: absolute;
    width: max-content;
    top: 0;
    gap: 10px;
    display: flex;
    flex-direction: row;
    animation: scroll-left 20s linear infinite;

    &.right {
      animation: scroll-right 20s linear infinite;
    }

    &:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
