.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  width: 100%;
  background-color: black;
}

.backgroundText {
  font-weight: 1000;
  font-size: 134px;
  opacity: 0.1;
}

section {
  display: flex;
  align-items: center;
}

.map {
  gap: 20px;
}
