@import "../../../styles/config.scss";

.listCardContainer {
    margin: 0 0 0 10px;
    padding-top: 40px;
    h2 {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 10px;
        color: $textGrey;
    }

    section {
        font-size: 13px;
        color: $textGrey;
        padding-bottom: 14px;
    }

    hr {
        width: 95%;
        justify-content: center;
        border: 1px solid $textGrey;
    }
}