.containerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 48px 0px;
  gap: 24px;
  width: 440px;
  height: 160px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  flex: none;
  order: 0;
  align-self: stretch;
  img {
    width: 64px;
    height: 64px;
  }
}

.containerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 48px 0px;
  gap: 24px;
  width: 440px;
  height: 160px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  flex: none;
  order: 0;
  align-self: stretch;
  img {
    width: 64px;
    height: 64px;
  }
}

.text {
  width: 352px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.01em;
}

.right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
