body {
  display: grid;

  grid-template-areas:
    "header main"
    "nav main";
  grid-template-rows: 150px 1fr;
  grid-template-columns: 250px 1fr;
}

@media only screen and (max-width: 500px) {
  body {
    display: block;
  }
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  overflow-y: scroll;
  overflow-y: scroll;
}

.pad-main {
  padding: 0 64px;
}

.pad-main {
  padding: 0 64px;
}

@media only screen and (max-width: 500px) {
  main {
    padding: 0 24px;
  }
  .pad-main {
    padding: 0;
  }
}

main > nav {
  grid-area: header-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

main > nav > div {
  display: flex;
  gap: 1em;
}

main > nav a {
  margin: 0 10px;
}

main > footer {
  height: 100px;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

main > footer > section {
  display: inherit;
  gap: 20px;
}

#flu-logo {
  margin-left: 2em;
  margin-top: 2.25em;
}

#flu-logo > img {
  width: 5em;
}

#flu-logo > * {
  margin-bottom: 1em;
}

#top-navbar > img {
  width: 5em;
}

.top-navbar-left {
  display: flex;
  align-items: center;
}

.top-navbar-left > img {
  width: 5em;
}

/* .navbar-v2 {
  
} */

.navbar-v2 li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-transform: uppercase;
  font-family: "Aeonik Mono", monospace;

  border-left: 0px solid rgba(255, 255, 255, 0.2);
}

.navbar-v2 li {
  text-emphasis: none;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-v2 li > div {
  width: 5px;
  margin: 0 16px 0 0;
  padding: 32px 0;
  align-self: stretch;
}

.navbar-v2 li > div.active {
  background-color: #fff;
}

.navbar-v2 li:hover {
  border-left: 2px inset solid rgba(255, 255, 255, 0.2);
}

.navbar-v2 ul {
  display: block;
  padding: 0;
}

main > footer > section > a {
  color: #828381;
  text-underline-offset: 0.12em;
}

.totals-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.transaction-filters {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.transactions-header {
  margin-bottom: 1em;
}

.transaction-table {
  width: 100%;
  border-spacing: 0 0.25em;
}

.transaction-table > thead > tr > th {
  text-align: left;
  padding: 0.5em;
}

.table-activity {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.table-activity > span {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.table-activity > img {
  width: 1.5em;
}

.transaction-table > thead > tr > th:last-child {
  text-align: right;
}

.transaction-table > tbody > tr > td {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1em 0.5em 1em 0.5em;
}

.transaction-table > tbody > tr > td:last-child {
  text-align: right;
}

.table-address {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.pagination {
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.pagination-numbers {
  display: flex;
  gap: 0.5em;
}

.pagination-numbers .current-pagination {
  all: unset;
  cursor: pointer;
  color: white;
}

.pagination-numbers .pagination-number {
  all: unset;
  cursor: pointer;
}

.pagination-arrows {
  display: flex;
  gap: 1em;
}

.pagination-arrows .pagination-arrow {
  cursor: pointer;
}

.pagination-arrows .pagination-arrow-off {
  cursor: auto;
}

#provide-liquidity {
  width: auto;
  max-width: 60em;
  padding: 2em;
  margin-bottom: 6em;
  margin-left: 64px;
  margin-right: 64px;
}

.card-outer {
  position: relative;
  border-radius: 30px;
}

.card-outer::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  border-radius: 12px;
  background: conic-gradient(
    from 209.59deg at 50% 50%,
    #f3b8d8 0deg,
    #b793e9 50.06deg,
    #9fd4f3 85.94deg,
    #ffd2c4 134.97deg,
    #fbf3f3 172.05deg,
    #d9abdf 200.75deg,
    #af9ce3 224.67deg,
    #aae4e1 259.36deg,
    #c6ead0 298.82deg,
    #ffffff 328.72deg,
    #fdb5e4 360deg
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.card-inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: top;
  background: unset;
  border-radius: 12px;
  border-style: none;
  margin-top: auto;
  margin-bottom: auto;
  border-width: 2px;
  outline: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.provide-liquidity-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.provide-liquidity-left > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 2em;
}

.provide-liquidity-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.provide-heading {
  margin: 0;
}

.liquidity-providers {
  gap: 0.75em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.liquidity-providers > a {
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  width: fit-content;
}

.liquidity-providers > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.liquidity-providers > a > img {
  width: 4.5em;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  background: black;
  height: 100%;
  width: 100%;
}

.connect-wallet-outer-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.connect-wallet-modal-container {
  position: absolute;
  width: 30%;
  min-width: 300px;
  max-width: 327px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(29, 23, 23);
  padding: 3em;
}

.connect-wallet-modal-container > ul > li {
  width: 100%;
  display: flex;
  list-style: none;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  border-bottom: 0.2px solid grey;
}

.connect-wallet-modal-container > ul > li:hover {
  background-color: gainsboro;
}

.connect-wallet-modal-container > ul > li > span {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 0.25em;
}

.connect-wallet-modal-container > ul > li > span > img {
  width: 2em;
}

.modal-cancel-btn {
  cursor: pointer;
  float: right;
  margin-top: -0.5em;
  opacity: 0.6;
  padding: 6px;
  border-radius: 0.2em;
  width: 1em;
}

.modal-cancel-btn:hover {
  opacity: 1;
  background-color: #0f2339;
}

.connect-wallet-modal-list {
  background-color: white;
  padding: 0;
  margin: 0 0 1em 0;
}

.connect-wallet-modal-names {
  margin: 10px;
}

.connect-wallet-modal-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.connect-wallet-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.show-modal {
  display: block;
}

.hide-modal {
  display: none;
}

.connect-wallet-btn {
  position: absolute;
  margin: 0 0 0 40px;
  top: 90%;
}

.burger-btn {
  height: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.burger-span {
  height: 1px;
  width: 12px;
  background-color: white;
  border-radius: 40%;
}

.burger-btn:hover > .burger-span {
  background-color: black;
}

.dashboard-navbar-default {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.dashboard-navbar-active {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.dashboard-navbar-default > svg {
  fill: #828381;
}

.dashboard-navbar-active svg {
  fill: white;
}

.mobile-modal-container {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
}

@media (min-width: 850px) {
  .mobile-modal-container {
    display: none;
  }
}

#mobile-top-navbar {
  grid-area: header-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.mobile-navbar-right {
  display: flex;
  gap: 1em;
}

.mobile-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-modal-content > section:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  box-sizing: border-box;
  align-items: center;
}

.mobile-modal-content > nav {
  align-self: flex-start;
}

.mobile-modal-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.unclaimed-button {
  display: flex;
  align-items: center;
}

.unclaimed-button:hover > span {
  color: black;
}

.unclaimed-button:hover > span > h4 {
  color: black;
}

.unclaimed-button:hover > span > div > img {
  fill: black;
}

.unclaimed-button > span {
  display: flex;
  align-items: center;
  gap: 1em;
  text-transform: none;
}

.mobile-modal-bottom,
.fluidify-money-button {
  width: 90%;
  max-width: 20em;
}

.select-blockchain-mobile > div {
  padding: 0 2em 0 0.5em;
  box-sizing: border-box;
}

.select-blockchain-mobile > div > div {
  padding-left: 0.8em;
}

@media only screen and (max-width: 500px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (max-width: 1200px) {
  .card-inner {
    grid-template-columns: 1fr;
  }

  #provide-liquidity {
    padding-top: 0;
  }

  .provide-liquidity-left {
    order: 1;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 850px) {
  body {
    grid-template-columns: 0;
  }

  header {
    display: none;
  }

  #dashboard-navbar {
    display: none;
  }

  .reward-performance {
    font-size: 2em;
  }
  .highest-rewarders {
    font-size: 2em;
  }

  .provide-liquidity-left > div > h2 {
    font-size: 2em;
  }
}

@media (max-width: 900px) {
  main > footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
}

@media (max-width: 500px) {
  main {
    padding: 0 20px;
  }
  main > footer > section:first-child {
    gap: 0.6em;
  }

  #provide-liquidity {
    padding: 1em;
    margin: 0 0 2em 0;
  }

  .connect-wallet-modal-container {
    min-width: 300px;
    top: 45%;
  }

  #mobile-top-navbar {
    padding: 0 20px;
  }
}

.connected-wallet {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 0.5px solid transparent;
  padding: 0.2em;
  border-radius: 2em;
}

.connected-wallet:hover {
  border: 0.5px solid white;
  padding: 0.2em;
  border-radius: 2em;
}

.holo {
  background: conic-gradient(
    from 209.59deg at 50% 50%,
    #f3b8d8 0deg,
    #b793e9 50.06deg,
    #9fd4f3 85.94deg,
    #ffd2c4 134.97deg,
    #fbf3f3 172.05deg,
    #d9abdf 200.75deg,
    #af9ce3 224.67deg,
    #aae4e1 259.36deg,
    #c6ead0 298.82deg,
    #ffffff 328.72deg,
    #fdb5e4 360deg
  );
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connected-wallet-modal-container {
  position: absolute;
  width: 30%;
  min-width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(29, 23, 23);
  padding: 30px;
}

.connected-wallet-modal-body {
  margin-top: 30px;
}

.address-copy-box {
  width: 95%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: none !important;
  border-radius: 12px !important;
}

.address-copy-box:hover {
  background-color: black;
}

.address-copy-box:active {
  background-color: transparent;
}

.address-copy-box > div {
  display: flex;
}

.legal {
  margin-top: 2em;
}

.address-text {
  margin-left: 10px;
}

.connected-btn-in-modal:hover {
  border: 0.5px solid transparent;
}

.disconnect-wallet-btn {
  margin: 2em 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 92%;
}

.disconnect-wallet-btn:hover > div > img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.link-text {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  gap: 0.4em;
}
