.index-page {
  width: 100%;
  mix-blend-mode: lighten;
}

.disconnected {
  display: grid;
  grid-template-columns: 1fr;
}

.opportunity {
  padding: 2em;
}

.opportunity-top {
  width: 100%;
}

.header-buttons {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2em;
}

.opportunity-text-top {
  text-align: center;
  margin: 0;
}

.opportunity-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 36em;
}

.opportunity-bottom {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.opportunity-graph {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 2em;
}

.connected {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.connected-wallet {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.connected-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 32em;
  text-align: center;
}

.winnings-figure {
  margin: 0;
}

.connected-buttons {
  display: flex;
  gap: 1em;
}

.share-button {
  display: flex;
  align-items: center;
}

.connect-text {
  text-align: center;
}

.videoContainer {
  position: relative;
  mix-blend-mode: lighten;
}

.video-fit {
  object-fit: fit;
}

.video-contain {
  object-fit: contain;
}

.video-cover {
  object-fit: cover;
}

.video-reduce {
  object-fit: scale-down;
}

.video-none {
  object-fit: none;
}

.video {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 500px) {
  .connected-buttons {
    flex-direction: column;
    align-items: center;
  }
  .connected-content {
    padding: 3em;
  }
  .opportunity {
    padding: 0 3em 2em 3em;
  }
  .opportunity-text {
    width: 100%;
  }
}
.no-margin {
  margin: 0;
}

.wallet-outer-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.solana-wallet-modal-container {
  position: absolute;
  width: 30%;
  min-width: 300px;
  max-width: 327px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(29, 23, 23);
  padding: 3em;
}

.solana-wallet-modal-container > ul > li {
  width: 100%;
  display: flex;
  list-style: none;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  border-bottom: 0.2px solid grey;
}

.solana-wallet-modal-container > ul > li:hover {
  background-color: gainsboro;
}

.solana-wallet-modal-container > ul > li > span {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 0.25em;
}

.solana-wallet-modal-container > ul > li > span > img {
  width: 2em;
}

.solana-modal-cancel-btn {
  cursor: pointer;
  float: right;
  margin-top: -0.5em;
  opacity: 0.6;
  padding: 6px;
  border-radius: 0.2em;
  width: 1em;
}

.solana-modal-cancel-btn:hover {
  opacity: 1;
  background-color: #0f2339;
}

.solana-modal-wallet-list {
  background-color: white;
  padding: 0;
  margin: 0 0 1em 0;
}

.solana-modal-wallet-names {
  margin: 10px;
}

.solana-modal-wallet-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.solana-wallet-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.show-modal {
  display: block;
}

.hide-modal {
  display: none;
}

.holo {
  background: conic-gradient(
    from 209.59deg at 50% 50%,
    #f3b8d8 0deg,
    #b793e9 50.06deg,
    #9fd4f3 85.94deg,
    #ffd2c4 134.97deg,
    #fbf3f3 172.05deg,
    #d9abdf 200.75deg,
    #af9ce3 224.67deg,
    #aae4e1 259.36deg,
    #c6ead0 298.82deg,
    #ffffff 328.72deg,
    #fdb5e4 360deg
  );
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
