.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  .span {
    height: 1px;
    width: 12px;
    background-color: white;
    border-radius: 40%;
  }
}

