@use "common" as *; 

.Toggle {
  display: block;
  border: 1px solid white;
  border-radius: 100px;
  cursor: pointer;
  width: 45px;

  &.vertical {
    width: 15px;
    height: 45px;

    .thumb {
      width: 15px;
      height: 30px;
    }
  }

  input {
    display: none;
  }

  &.black {
    border-color: black;

    .thumb {
      background-color: black;
      svg {
        filter: invert(0);
      }
    }
  }

  &.white {
    border-color: white;

    .thumb {
      background-color: white;
      svg {
        filter: invert(1);
      }
    }
  }

  .thumb {
    width: 30px;
    height: 15px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      scale: 1.1;
      // rotate: 90deg;
    }
  }
}