@import "../../styles/config.scss";
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 850px;
  width: 100%;
  position: relative;
}

.stats {
  margin-top: 80px;
  width: 100%;

  h1 {
    margin: 0;
  }
  h4 {
    margin: 10px;
  }
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infoSingle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 160px;
}
