.container {
  z-index: 10;
  width: 200px;
  height: 220px;
  border-radius: 10px;
  border: 0.5px solid grey;
  padding: 20px;
  backdrop-filter: blur(10px);
  opacity: 0.9;
  color: black;
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  a {
    &:hover {
      opacity: 0.8;
    }
  }
}

.socials {
  display: flex;
  gap: 15px;
}
