@use "common" as *;

.CollapsibleCard {
  width: 100%;

  .Summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .content {
      flex-grow: 1;
    }

    svg {
      margin-right: 4em;
      margin-left: 2em;
    }
  }
}