@import "../../styles/config.scss";

header.outerContainer {
  box-sizing: border-box;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
  position: fixed;
  max-width: 3000px;
  z-index: 10;
  white-space: nowrap;

  @media (max-width: 900px) {
    padding: 10px 30px 10px 30px;
  }

  .navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    padding: 0.6em 2em;
    z-index: 99;
    justify-self: center;
    backdrop-filter: blur(10px);

    a {
      display: flex;
      gap: 0.5em;
      align-items: center;
      white-space: nowrap;

      svg {
        stroke: currentColor;
      }

      .active {
        & > * {
          font-weight: 700;
          color: $fluidWhite;
          text-decoration: underline;
          text-underline-offset: 0.5em;
        }
      }
    }

    @media (max-width: 750px) {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }
}

.fluidity {
  z-index: 51;
  cursor: pointer;
}

.imgContainer {
  width: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  img {
    max-width: 100%;
    display: block;
  }
}

.transparent {
  mix-blend-mode: difference;
}
