html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: black;
  color: #828381;
}

body {
  background-image: url("/images/bg-blur-desktop.png");
  background-size: auto;
  background-repeat: no-repeat;
}

@media (max-width: 620px) {
  body {
    background-size: 0%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
