html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: black;
  color: #828381;
  font-family: "Aeonik", sans-serif;
}

body {
  background-image: url("/images/bg-blur-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
