html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: black;
  color: #828381;
  font-family: "Aeonik", sans-serif;

  scroll-behavior: smooth;
}

body {
  background-image: url("/images/bg-blur-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  background: black;
  height: 100%;
  width: 100%;
}

.no-margin {
  margin: 0;
}
