@import "../../styles/config.scss";

.tableFilterContainer {
    display: flex;
    width: 100%;
    color: $textGrey;
    color: $textGrey;
    margin-bottom: 10px;
    justify-content: space-between;
    ul {
      display:flex;
      list-style: none;
      li {
        margin-right: 10px;
        cursor: pointer;
      }

      li:hover {
        border-bottom: 1px solid $fluidWhite;
        color: $fluidWhite;
      }

      li:focus {
        color: $fluidWhite;
        border-bottom: 1px solid $fluidWhite;
      }
    }
    @include max-760px {
      flex-direction: column;
      ul {
        margin-top: 10px;
      }
    }
  }
  
  .pagination {
    display: flex;
    color: $textGrey;
    width: 100%;
    justify-content: space-between;
    display: flex;
    color: $textGrey;
    width: 100%;
    justify-content: space-between;
    span:nth-child(2) {
      padding-right: 20px;
      button:first-child {
        margin-right: 20px;
      }
    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
        tr{
          th{
            padding: 0 20px 10px 20px;
            text-align:start;
            color: $textGrey;
          }
        }
  
        th:nth-child(6) {
          display: none;
        }

        @include max-760px {
          @for $i from 1 through 5 {
            @if $i == 2  {
              th:nth-child(3n + #{$i}) {
                display: none;
              }
            }@else if $i == 4 {
              th:nth-child(3n + #{$i}) {
                display: none;
              }
            }@else if $i == 5 {
              th:nth-child(3n + #{$i}) {
                display: none;
              }
            }
          }
          th:nth-child(3) {
            text-align: right;
          }   
        }
    }
  
    tbody {
      background-color: rgb(36, 36, 36);
      tr {
        background-color: rgb(36, 36, 36);
    
        td {
          padding: 15px 20px 15px 20px;
          border-bottom: 5px solid black;
          border-top: none;
          border-right: none;
          border-left: none;
          color: $textGrey
        }
  
        td:nth-child(3) {
          color: $fluidWhite;
        }

        td:nth-child(6) {
          display: none;
          color: $textGrey
        }
  
        td:nth-child(3) {
          color: $fluidWhite;
        }

        td:nth-child(6) {
          display: none;
        }

        @include max-760px {
          @for $i from 1 through 5 {
            @if $i == 2  {
              td:nth-child(3n + #{$i}) {
                display: none;
              }
            }@else if $i == 4 {
              td:nth-child(3n + #{$i}) {
                display: none;
              }
            }@else if $i == 5 {
              td:nth-child(3n + #{$i}) {
                display: none;
              }
            }
            td:nth-child(3) {
              text-align: right;
            }
          }
        }
      }
    }
  }

  .alignRight {
    text-align: right;
  }