@import "../../styles/config.scss";

.tableFilterContainer {
    display: flex;
    width: 100%;
    color: $textGrey;
    margin-bottom: 10px;
      ul {
        margin-left: 65%;
        display:flex;
        list-style: none;
        li {
          margin-right: 10px;
          cursor: pointer;
        }

        li:hover {
          border-bottom: 1px solid $fluidWhite;
          color: $fluidWhite;
        }

        li:focus {
          color: $fluidWhite;
          border-bottom: 1px solid $fluidWhite;
        }
      }
  }
  
  .pagination {
    color: $textGrey;
    span:nth-child(2) {
      float: right;
      button:first-child {
        margin-right: 20px;
      }
    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  
    thead {
        tr{
          th{
            padding: 0 20px 10px 20px;
            text-align:start;
            color: $textGrey
          }
        }
  
        th:nth-child(6) {
          display: none;
        }
    }
  
    tbody {
      background-color: rgb(36, 36, 36);
      tr {
        background-color: rgb(36, 36, 36);
    
        td {
          padding: 15px 20px 15px 20px;
          border-bottom: 5px solid black;
          border-top: none;
          border-right: none;
          border-left: none;
          color: $textGrey
        }
  
        td:nth-child(3) {
          color: $fluidWhite;
        }

        td:nth-child(6) {
          display: none;
        }
      }
    }
  }