@use 'common' as *;

button {
  all: unset;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.small {
  padding: 12px;
  gap: 8px;
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
}

.medium {
  padding: 16px;
  gap: 8px;
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.large {
  padding: 24px;
  gap: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  border-radius: 50px;
}

.primary {
  background-color: map-get($bg, "alternate");
  border: 0.5px solid map-get($border, "prominent");
  color: $black;
  width: fit-content;
  height: fit-content;
  text-transform: uppercase;
  gap: 100px;
  .icon {
    display: inline-block;
    stroke: map-get($text, "secondary");
  }

  &:focus:enabled {
    background-color: map-get($bg, "alternate");
    box-shadow: 0px 0px 0px 2px map-get($border, "focus");
    .icon {
      display: inline-block;
      stroke: map-get($text, "prominent");
    }
  }

  &:hover:enabled {
    background-color: map-get($bg, default);
    border: 0.5px solid map-get($border, "prominent");
    color: map-get($text, "prominent");
    .icon {
      display: inline-block;
      stroke: map-get($text, "secondary");
    }
  }

  &:disabled {
    cursor: default;
    color: $black;
    background-color: map-get($bg, "disabled");
    border: 0.5px solid map-get($bg, "disabled");
    .icon {
      display: inline-block;
      stroke: map-get($text, "disabled");
    }
  }
}

.secondary {
  background-color: map-get($bg, default);
  border: 0.5px solid $white-a80;
  width: fit-content;
  height: fit-content;
  text-transform: uppercase;
  color: map-get($text, "prominent");
  .icon {
    display: inline-block;
    stroke: map-get($text, "prominent");
  }

  &:focus:enabled {
    box-shadow: 0px 0px 0px 2px map-get($border, "focus");
    color: map-get($text, "prominent");
    .icon {
      display: inline-block;
      stroke: map-get($text, "prominent");
    }
  }

  &:hover:enabled {
    background-color: map-get($bg, "alternate");
    border: 0.5px solid map-get($border, "prominent");
    color: map-get($text, "secondary");
    .icon {
      display: inline-block;
      stroke: map-get($text, "secondary");
    }
  }

  &:disabled {
    cursor: default;
    color: map-get($text, "disabled");
    background-color: map-get($bg, default);
    border: 0.5px solid map-get($border, "disabled");
    .icon {
      display: inline-block;
      stroke: map-get($text, "disabled");
    }
  }
}
