@import "../../styles/config.scss";
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  width: 100%;
  isolation: isolate;
}

.rewardsBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  min-height: 850px;
  max-height: 900px;
  max-width: 1500px;
  overflow-y: hidden;
  mix-blend-mode: darken;
  overflow-x: hidden;
}

.shade {
  position: absolute;
  min-height: 850px;
  max-height: 900px;
  max-width: 1500px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    $fluidBlack,
    transparent,
    transparent,
    $fluidBlack
  );
}

.winner {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-size: 16px;
  color: $textGrey;
  position: relative;
  min-width: fit-content;
  padding: 0 10px 0 10px;
  gap: 5px;
  align-items: center;

  a {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    &:hover {
      color: $fluidWhite;
      opacity: 0.8;
    }
  }

  img {
    width: 18px;
  }
  &:hover {
    color: $fluidWhite;
  }
}

.hover {
  // cursor: pointer;
  // &:hover {
  //   color: white;
  // }

  &Underline {
    text-decoration: underline;
  }
}
