/*
to use the breakpoints...

  @include breakpoint-name {
    css code
  }

eg:

.class-name {
  width: 10rem;
  
  @include for-tablet-landscape-up {
    width: 30rem;
  }
}

*/
@mixin for-below-470 {
  @media (max-width: 470px) {
    @content;
  }
}

@mixin for-below-400 {
  @media (max-width: 399px) {
    @content;
  }
}

@mixin for-below-550 {
  @media (max-width: 550px) {
    @content;
  }
}

@mixin for-phone-only {
  @media (max-width: 630px) {
    @content;
  }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin for-med-toolbar {
  @media (max-width: 1080px) {
    @content;
  }
}
@mixin for-small-toolbar {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin for-smallest-toolbar {
  @media (max-width: 930px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-1300-up {
  @media (min-width: 1300px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
