// scss file for page utilities (e.g. generic padding classes, generic margin classes)

// font size up
.font-medium {
  font-size: medium;
}

.font-large {
  font-size: 3vmin;
}

.font-x-large {
  font-size: 4vmin;
}

.font-xx-large {
  font-size: 5vmin;
}

// Margin & padding classes
$spaceamounts: (0, 1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  // Margin all around
  .m-#{$space}_5 {
    margin: #{$space + 0.5}rem;
  }

  .m-#{$space} {
    margin: #{$space}rem;
  }

  // Margin left and right
  .mx-#{$space}_5 {
    margin: 0 #{$space + 0.5}rem;
  }

  .mx-#{$space} {
    margin: 0 #{$space + 0.5}rem;
  }

  // Margin left
  .mx-#{$space}_5-l {
    margin-left: #{$space + 0.5}rem;
  }

  .mx-#{$space}-l {
    margin-left: #{$space}rem;
  }

  // Margin right
  .mx-#{$space}_5-r {
    margin-right: #{$space + 0.5}rem;
  }

  .mx-#{$space}-r {
    margin-right: #{$space}rem;
  }

  // Margin top and bottom
  .my-#{$space}_5 {
    margin: #{$space + 0.5}rem 0;
  }

  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  // Margin top
  .my-#{$space}_5-t {
    margin-top: #{$space + 0.5}rem;
  }

  .my-#{$space}-t {
    margin-top: #{$space}rem;
  }

  // Margin bottom
  .my-#{$space}_5-b {
    margin-bottom: #{$space + 0.5}rem;
  }

  .my-#{$space}-b {
    margin-bottom: #{$space}rem;
  }

  // Padding all around
  .p-#{$space}_5 {
    padding: #{$space + 0.5}rem;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  // Padding left and right
  .px-#{$space}_5 {
    padding: 0 #{$space + 0.5}rem;
  }

  .px-#{$space} {
    padding: 0 #{$space}rem;
  }

  // Padding left
  .px-#{$space}_5-l {
    padding-left: #{$space + 0.5}rem;
  }

  .px-#{$space}-l {
    padding-left: #{$space}rem;
  }

  // Padding right
  .px-#{$space}_5-r {
    padding-right: #{$space + 0.5}rem;
  }

  .px-#{$space}-r {
    padding-right: #{$space}rem;
  }

  // Padding top and bottom
  .py-#{$space}_5 {
    padding: #{$space + 0.5}rem 0;
  }

  .py-#{$space} {
    padding: #{$space}rem 0;
  }

  // Padding top
  .py-#{$space}_5-t {
    padding-top: #{$space + 0.5}rem;
  }

  .py-#{$space}-t {
    padding-top: #{$space}rem;
  }

  // Padding bottom
  .py-#{$space}_5-b {
    padding-bottom: #{$space + 0.5}rem;
  }

  .py-#{$space}-b {
    padding-bottom: #{$space}rem;
  }
}

// Text types
.primary-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  background: $primary-color;

  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.primary-text-btn {
  font-family: "Open Sans", Arial, Serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  background: $primary-color;

  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;

  -webkit-text-fill-color: #0fcba0;
  -moz-text-fill-color: transparent;
}

.secondary-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  background: $secondary-color;

  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.white-primary-text {
  font-family: "Open Sans", "sans-serif";
  font-style: normal;
  font-weight: 700;
  background: white;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// font sizing

// $f-sizing: (xx-small, x-small, small, smaller, medium, x-large, xx-large);

// @each $size in $f-sizing {
//   .font-#{$size} {
//     font-size: $size;
//   }
// }

$f-sizing: (1rem, 2rem, 3rem, 4rem);

@each $size in $f-sizing {
  .font-#{$size} {
    font-size: $size;
  }
}
// Flex classes
.flex {
  display: flex;
}

$space-definitions: (
  "space-evenly",
  "space-between",
  "space-around",
  "flex-start",
  "flex-end",
  "center",
  "start",
  "end",
  "left",
  "right"
);

@each $space in $space-definitions {
  .flex-#{$space} {
    justify-content: #{$space};
  }
}
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

// Grid
.grid {
  display: grid;
}

// Alignment
.align {
  align-items: center;
}

.text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

// height and width
.width {
  &-auto {
    width: auto;
  }

  &-0 {
    width: 0%;
  }

  &-15 {
    width: 15%;
  }

  &-25 {
    width: 25%;
  }

  &-50 {
    width: 50%;
  }

  &-75 {
    width: 75%;
  }

  &-100 {
    width: 100%;
  }
}

.height {
  &-auto {
    height: auto;
  }

  &-0 {
    height: 0%;
  }

  &-15 {
    height: 15%;
  }

  &-25 {
    height: 25%;
  }

  &-50 {
    height: 50%;
  }

  &-75 {
    height: 75%;
  }

  &-100 {
    height: 100%;
  }
}

.wrap {
  word-wrap: break-word;
}

.column-span {
  grid-column: 1/-1;
}

.hide {
  display: none;
}
