@import "../../styles/config.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  min-height: 850px;
  width: 100%;
  border: solid 2px red;

  h6 {
    text-align: end;
    margin: 0;
  }
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 40px;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.footerItems {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.communication {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  gap: 48px;
  @include max-860px {
    flex-direction: column;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.legal {
  display: flex;
  justify-content: flex-end;
  & > h6 {
    margin-left: 20px;
  }
}

.carousel {
  width: 100%;
  align-self: flex-end;
}

.text {
  margin-right: 10px;
}
