.container {
  // box-sizing: border-box;

  font-size: 1.5rem;
  @media (max-height: 1200px), (max-width: 2310px) {
    font-size: 1rem;
  }


  // &.full {
  //   height: 100vh;
  // }

  // &.half {
  //   height: 50vh;

  //     // move to all full once certain size
  //     @media (max-height: 800px), (max-width: 500px) {
  //       // min-height: 100vh;
  //       height: fit-content;
  //     }
  //   &.backers {
  //     // move to all full once certain size
  //     @media (max-height: 1200px) and (max-width: 1700px) {
  //       min-height: 100vh;
  //     }
  //     background: #1D1D1DBC;
  //     box-sizing: border-box;
  //     // overflow: scroll;

  //     margin-top: 0.5em;
  //     margin-bottom: 0.5em;
  //     padding: 0.5em;

  //     @media (max-width: 2016px) {
  //       & > .backer-icon-container {
  //         // grid-template-columns: 1fr 1fr;
  //       } 
  //     }

  //     @media (max-width: 1000px) {
  //       & > .backer-icon-container {
  //         // display: flex;
  //         // flex-direction: column;
  //         // align-items: center;
  //       } 
  //     }
  //   }
  // }
}

.form-container {
  text-align: right;
  width: 65%;
  align-self: end;
}

.text-box {
  background: rgba(36, 44, 48, 56);
  color: #BAC8E9;
  padding: 1em;
  box-sizing: border-box;
  min-height: 15em;
  height: auto;
  // max-height: auto;
  font-family: Poppins, 'sans-serif';
}
