.footer {
  background: #1D1D1DA8;
  width: 100vw;
  margin-top: auto; // align to bottom without being absolute positioned, to avoid overlap
  
  box-sizing: border-box;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  justify-content: space-around;

  > div {
    flex: 1;
    justify-content: center;
  }

  @media (max-height: 500px) {
    display: none !important;
  }
}

.fluidity-contact {
  align-items: center;

  @media (max-width: 700px) {
    display: none !important;
  }
}

.footer-button-container {
  display: grid;
  grid-template-columns: 30% 40%;

  .button {
    text-align: left;
    padding-left: 1.5rem;
    padding-top: 0;
    .text {
      font-size: 1rem;
      color: white;
      font-family: "Poppins Light", sans-serif;
      font-variant: normal;
    }
  }

  @media (max-width: 480px) {
    display: none;
  }
}

.icon-box {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.copyright-text {
  margin-top: 1em;
  font-size: 17px;
  color: white; 
  font-family: "Poppins Light", sans-serif;

  text-align: center;

  @media (max-height: 720px) {
    display: none !important;
  }
}
