.icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  &.fluidity-logo {
    background: url("/images/fluiditylogo.svg");
  }
  &.multicoin {
    background: url("/images/multicoin.svg");
    width: 49.2px;
    height: 40px;
  }
  &.circle {
    background: url("/images/circle.svg");
    // width: 130.9523809px;
    // height: 40px;
    // doesn't touch edge of viewbox, so scale up and offset w/ negative margin
    height: 65px;
    width: 214px;
    margin-top: -15px;
  }
  &.solana {
    background: url("/images/solana.svg");
    width: 330px;
    height: 40px;
    // width: 792px;
    // height: 96px;
  }
  &.lemniscap {
    background: url("/images/lemniscap.svg");
    width: 197.1831px;
    height: 40px;
  }
  &.bitscale {
    background: url("/images/bitscale.svg");
    width: 103.85093px;
    height: 40px;
  }

  &.usdc {
    background: url("/images/usdc_icon.svg");
    height: 21px;
    width: 21px;
  }

  &.ngc{
    height: 40px;
    width: auto;
  }

  &.mycelium {
    height: 40px;
    width: auto;
  }

  &.backer-generic {
    font-family: manrope, sans-serif;
    font-size: 1.5em;
    color: white;
    width: fit-content;
  }

  &.background-vector {
    background: url("/images/background_vector_lines.svg");
    position: fixed;
    z-index: -9999;

    height: 2572px;
    width: 1000px;

    top: -40%;
    left: 0;

    background-repeat: no-repeat !important;
    background-attachment: local !important;
    background-position: 100% 0% !important;

    // stick to right side
    &.secondary {
      background: url("/images/background_vector_lines_secondary.svg");
      height: 2762px;
      width: 1000px;

      top: -500px;
      right: 0;
      left: unset;
      background-position: 15% 0% !important;

      // hide, to stop overlap
      @media (max-width: 1100px) {
        width: 0;
        height: 0;
        background: unset;
      }
    }
  }
}

.backer-icon-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(354px, 1fr) );
  box-sizing: border-box;
  gap: 1em;
  justify-items: center;
}

.i-twitter {
  display: block;
  height: 30px;
  width: 30px;
  background: url("/images/SocialIcons/twitter_icon.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.i-discord {
  display: block;
  height: 30px;
  width: 30px;
  background: url("/images/SocialIcons/discord_icon.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.i-telegram {
  display: flex;
  height: 30px;
  width: 30px;
  background: url("/images/SocialIcons/telegram_icon.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.i-linkedin {
  display: block;
  height: 30px;
  width: 30px;
  background: url("/images/SocialIcons/linkedin_icon.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.fluidity-icon {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.icon-text {
  padding-left: 1rem;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
