@import "./titleBar";

.panel-container {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  @media screen and (max-width: 940px) {
    display: block
  }

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.panel {
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 940px) {
    width: 100%;
  }
  
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &.left {
    flex-direction: column;
    & > .container.full {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  }

  &.right {
    position: sticky;
    position: fixed;
    top: 0;
    right: 0;

    @media screen and (max-width: 940px) {
      // when single pane, move to bottom section, and remove scroll transitions
      position: relative;
      transform: unset !important;
      display: flex !important;
      &.static {
        display: none !important;
      }
    }
  }
}
