@import "./titleBar";

.circle-tab {
  height: 20px;
  width: 20px;
  background: unset;
  border-radius: 50%;
  border: white solid;
  border-width: 3px;

  margin-top: 5rem;
  cursor: pointer;
  transition: background 0.2s;

  &.active {
    background: white;
  }
}

.sidebar {
  position: sticky;
  position: absolute;
  left: 0;
  height: calc(100vh - #{$title-height} - #{$title-padding-top});
  width: fit-content;
  box-sizing: border-box;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  flex-direction: column;

  justify-content: center;

  @media (max-width: 830px) {
    display: none;
  }
}
