input, textarea, button.contact {
  background: #333333; 
  color: white;
  border-radius: 2em;
  padding: 1.5em;
  padding-left: 2em;
  border: unset;
  box-sizing: border-box;
  font-family: 'Poppins Light', sans-serif;

  width: 100%;
  
  &.large {
    height: 30vh;
    resize: none;
    margin: 1em;
  }
}

button.contact {
  width: 40%;
  padding: 1em;
  color: white;

  background: #333333;
  border: #333333 solid 2px;

  transition: border 0.3s;

  &:hover {
    border: #5BFEF3 solid 2px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 35%;
  padding-right: 35%;
  justify-content: center;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  // height: fit-content;
  padding-top: 3em;
  gap: 1em;

  @media (max-width: 1500px) {
    padding-left: 20%;
    padding-right: 20%;
  }

  @media (max-width: 900px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (max-width: 500px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}
