@import "../../../styles/config.scss";

.cardContainer {
  width: 100%;
  height: 500px;
  margin-right: 40px;
  padding: 0 10px 0 3px;

  img {
    width: 97%;
    max-height: 350px;
    margin: 10px 10px 10px 10px;
  }

  h4 {
    margin: 14px 0 18px 0;
    padding-left: 10px;
  }

  p {
    margin-bottom: 20px;
    padding-left: 10px;

    // font-size: 20px;
    @include max-560px {
      // font-size: 18px;
    }
  }

  p:nth-last-child(2) {
    font-size: 14px;
  }

  section {
    font-size: small;
    color: $textGrey;
    margin-bottom: 20px;
    padding-left: 10px;

    @include max-860px {
      display: none;
    }
  }
}
