.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  max-height: 960px;
  width: 100%;
  background-image: url("../../../public/assets/images/bg-blur-desktop.png"),url("../../../public/assets/images/dot-graph.svg");
  background-position: top, center 691px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  div {
    position: absolute;
  }
}

.blur {
  width: 100%;
  height: 100%;
  
  &:before {
    display: inline-block;
    height: 100%;
    width: 100%;
    content: '';
    background: #000;
    opacity: 0.6;
    filter: blur(144px);
  }
}

.backgroundText {
  position: relative;
  font-weight: 1000;
}

.video {
  max-height: 800px;
}
