.app-body {
    flex-wrap: wrap;
    width: -webkit-fill-available;
    align-self: baseline;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
    @include for-tablet-landscape-up {
        align-self: center;
    }
}