.button {
  border: 0px;
  cursor: pointer;
  font-family: "Raleway";
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;

  display: inline-block;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &-defaultPadding {
    padding: 0.25rem 2rem;
  }
  &-toolbarBtnPadding {
    padding: 0.4rem 1rem;
  }
  &-smallPadding {
    padding: 0.25rem 1rem;
  }
}

.button-text {
  width: 100%;
  display: inline-block;
  display: flex;
  background: -webkit-linear-gradient(45deg, #16899b 0%, #02f5a3 100%);
  justify-content: center;
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.submenu-button {
  border-radius: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  border-top: none;
  border-left: none;
  border-right: none;
}

.time-selector-button {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  border-radius: 0;
  padding: 0;
  margin: 0;

  font-size: 0.8rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  background: white;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .selected {
//   border: 1px solid #fff;
// }

.subSelected {
  border-bottom: 2px solid #fff;
}

.timeSelected {
  background: $primary-color;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-style: solid;
  border-bottom-width: 2px;
  border-image: $primary-color;
  border-image-slice: 1;
}

// Button themes
.primary-button {
  background: $primary-color;
  border-radius: 10px;
  height: 100%;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  // animation: gradientShift 1s infinite;
}

.raleway {
  font-family: Raleway, sans-serif;
}

.wallet-button {
  background-color: transparent;
  //font-weight: 700;
  color: #b6d1db;
  height: 5rem;
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(51, 51, 51);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;

  &:hover {
    background-color: rgba(56, 60, 69, 0.5);
  }

  &:active {
    filter: brightness(60%);
  }
}

.token-button {
  // background-color: $background-notasdark;
  background-color: #051323;
  font-family: "Inter", Geneva, Tahoma, sans-serif;
  color: #ffffff;
  height: 4.5rem;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(51, 51, 51);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 4rem;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;

  &:hover {
    background-color: $background-notasdark;
  }

  @include for-below-400 {
    padding: 0rem 2rem;
  }
}

.mobile-address-btn {
  align-self: flex-end;
}

.selected {
  border: none;
  width: auto;
  display: inline-block;
  border-radius: 99px;
  color: $primary-color;
  position: relative;
  z-index: 1;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 400;

  font-family: "Open Sans", Arial, Serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  background: $primary-color;

  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;

  -webkit-text-fill-color: #0fcba0;
  -moz-text-fill-color: #0fcba0;
}

.selected:before,
.selected:after {
  content: " ";
  position: absolute;
  border-radius: 17px;
}

.selected:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background: #0fcba0;
  background: $primary-color;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#503b9a', endColorstr='#269cc1',GradientType=1 );
}

.selected:after {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: #0d222a;
  z-index: -1;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

// .selected:hover:after {
//   opacity: 0;
// }

// .selected:hover {
//   -webkit-text-fill-color: #0d222a;
//   -moz-text-fill-color: #0d222a;
//   transition: all 0.5s ease-in-out;
// }

.enabled-button {
  margin-right: 10px;
  width: 100%;
}

.max-button {
  width: auto;
  padding: 0 0.5em 0 0.5em;
  border-radius: 10px;

  background: $primary-color;
  color: white;
  -webkit-text-fill-color: white;

  font-family: Inter, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 9.5px;
}

.select-token-button {
  background-color: #051323;
  color: #ffffff;
  height: 3rem;
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Manrope";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding: 0;
  &:hover {
    background-color: #212429;
  }
}

.token-list-item-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.token-list-item-names {
  display: flex;
  flex-direction: column;
}
