.reward-board-container {
  grid-column: 1/-1;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background: #051323;
  border: 2px solid $border-color;
  border-radius: 30px;

  @include for-tablet-landscape-down {
    width: 600px;
  }
  @include for-phone-only {
    width: 400px;
  }
  @include for-below-400 {
    width: 300px;
  }
}

.prize-box-container {
  box-sizing: border-box;
  background: #051323;
  text-align: center;
  border-radius: 30px;
  grid-column: 1/-1;
  margin-right: auto;
  margin-left: auto;
  height: fit-content;
  width: fit-content;
  border: 2px solid #7daaa6;
  padding: 2rem;
  gap: 1rem;

  flex-direction: column;
  text-align: center;
  height: auto;

  @include for-below-400 {
    width: 330px;
  }

  @include for-tablet-portrait-up {
    min-width: -webkit-fill-available;
  }
  @include for-tablet-landscape-up {
    // max-width: 45rem;
    min-width: 640px;
  }
  @include for-1300-up {
    // max-width: 45rem;
    flex-direction: row;
    max-width: fit-content;
  }
}

/* prize board */
.prize-info-grid {
  // display: grid;
  // grid-template-columns: auto auto auto;
  // grid-column-gap: 1rem;
  // font-size: 1rem;
  // @include for-phone-only {
  //   grid-template-columns: auto auto;
  //   > div:nth-child(3n) {
  //     display: none;
  //   }
  // }
  // @include for-tablet-portrait-up {
  //   width: 30rem;
  // }
  // @include for-tablet-landscape-up {
  //   width: 40rem;
  // }
}

.reward-board-table-container {
  display: flex;
  justify-content: space-evenly;
}

.reward-info-table {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.reward-info-table-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-wrap: nowrap;
}

.reward-info-table-header {
  font-size: 1.5rem;
  padding: 0.1rem;
  @include for-below-550 {
    font-size: small;
  }
}

.reward-info-table-content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  color: #66d3f2;

  @include for-phone-only {
    font-size: x-small;
  }
  @include for-below-550 {
    font-size: xx-small;
  }
}

.winner-address {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  color: #66d3f2;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
  @include for-phone-only {
    font-size: x-small;
  }
  @include for-below-550 {
    font-size: xx-small;
  }
}

.reward-info-table-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swap-box-header {
  font-size: 1.2rem;
}

.swap-box-subheader {
  font-weight: 500;
}
