.header {
  transition: ease-in-out 0.1s;
  font-weight: bold;
}

.header-text {
  font-family: Manrope, sans-serif;
  font-size: 1.2rem;
  @include for-below-470 {
    font-size: 1rem;
  }
}

.btn__div {
  height: 5rem;
}

.wallet-header {
  font-size: 1.3rem;
}
