.i-fluidity-small {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: url("/img/fluiditylogo.svg");
}

.i-fluidity-medium {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: url("/img/fluiditylogo.svg");
}

.i-fluidity-large {
  display: block;
  height: 40px;
  width: 40px;
  @include for-tablet-portrait-up {
    height: 60px;
    width: 60px;
  }
  cursor: pointer;
  background: url("/img/fluiditylogo.svg");
}

.i-swap-arrow {
  height: 26px;
  width: 26px;
  background: url("/img/swap_arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: ease-in-out 0.25s;

  &:hover {
    opacity: 0.75;
  }
}

.i-menu-dropdown-arrow {
  height: 12.5px;
  width: 12.5px;
  background: url("/img/dropdown_arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

.modal-close-x {
  display: block;
  height: 15px;
  width: 15px;
  background: url("/img//x.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: ease-in-out 0.25s;

  &:hover {
    opacity: 0.5;
  }
}

.coinbase-wallet {
  height: 20px;
  width: 20px;
  background: url("/img//WalletIcons/coinbase.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

// ### Wallet icons ###
.i- {
  &ETH,
  &fETH {
    background: url("/img/TokenIcons/ethereumIcon.svg");
  }

  &SOL,
  &fSOL {
    background: url("/img/TokenIcons/solanaIcon.svg");
  }

  &COMP,
  &fCOMP {
    background: url("/img/TokenIcons/compoundIcon.svg");
  }

  &USDC,
  &fUSDC {
    background: url("/img/TokenIcons/usdcIcon.svg");
  }

  &USDT,
  &fUSDT {
    background: url("/img/TokenIcons/usdtIcon.svg");
  }

  &DAI,
  &fDAI {
    background: url("/img/TokenIcons/daiIcon.svg");
  }

  &TUSD,
  &fTUSD {
    background: url("/img/TokenIcons/tusdIcon.svg");
  }
}

// ### Connect to Wallet Icons ###
.i-wallet-arrow {
  height: 6px;
  width: 10px;
  background: url("/img/WalletConnectIcons/wallet_arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.i-wallet-arrow-closed {
  height: 6px;
  width: 10px;
  background: url("/img/WalletConnectIcons/wallet_arrow_closed.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

// Menu Icons
.i {
  &-copy-address-icon {
    background: url("/img/WalletConnectIcons/copy_address.svg");
  }

  &-switch_provider-icon {
    background: url("/img/WalletConnectIcons/switch_provider.svg");
  }

  &-disconnect-icon {
    background: url("/img/WalletConnectIcons/disconnect.svg");
  }

  &-confirm {
    background: url("/img/ConfirmationTick.svg");
    display: block;
    height: 12.5rem;
    width: 12.5rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.icon {
  display: block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.currency-icon {
  display: block;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

// Tick Animated Icon (modified)
// Source: https://stackoverflow.com/questions/41078478/css-animated-checkmark

.checkmark__circle {
  stroke-dasharray: 165;
  stroke-dashoffset: 165;
  stroke-width: 50;
  stroke-miterlimit: 10;
  stroke: url(#linearColors);
  fill: none;
  animation: stroke 0.5s ease-in-out 0.3s forwards;
}

.checkmark {
  display: block;
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #0eb88e;
  animation: fill 0.4s ease-in-out;

  &-notification-circle {
    stroke-width: 0;
  }
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.5s cubic-bezier(0.65, 0, 0.45, 1) 0.5s forwards;
}

.i-twitter {
  height: 40px;
  width: 40px;
  background: url("/img/SocialIcons/twitter_icon.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.i-discord {
  height: 40px;
  width: 40px;
  background: url("/img/SocialIcons/discord_icon.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.i-telegram {
  height: 40px;
  width: 40px;
  background: url("/img/SocialIcons/telegram_icon.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.notification {
  display: block;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.notification-on {
  @extend .notification;
  background: url("/img/NotificationIcons/notifications-filled-icon.svg");
  background-size: cover;
}

.notification-off {
  background: url("/img/NotificationIcons/notifications-off-icon.svg");
  background-size: cover;
  @extend .notification;
}

.notification-disabled {
  @extend .notification-off;
  background: url("/img/NotificationIcons/notifications-off-icon.svg"), red;
  background-size: cover;
}

.clear-search-icon {
  position: absolute;
  cursor: pointer;
  width: 10px;
  right: 35px;
  top: 87px;
  opacity: 0.6;
  padding: 6px;
  border-radius: 0.2rem;
  &:hover {
    opacity: 1;
    background-color: #0f2339;
  }
}

.not-found-icon {
  width: 150px;
  align-self: center;
}

.chevron {
  width: 20px;
}
