.rnf-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/-1;
    justify-self: center;
    align-items: center;
    justify-items: center;
    width: 50rem;
}

.rnf-header {
    font-size: 9rem;
    font-weight: 400;
    line-height: 1;
    @include for-below-400 {
        font-size: 7rem;
    }
}
