.nav-menu {
  display: grid;
  grid-template-rows: 3rem auto;
  //width: 100%;
  height: auto;
  position: absolute;
  top: 4rem;
  right: -100%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  text-align: center;
  align-items: center;
  background: rgba(10, 26, 32, 0.95);
  z-index: 4;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;
  width: auto;
  padding-bottom: 0.5rem;
}

.nav-menu.active {
  right: 0;
  opacity: 1;
  background-color: #051323;
}

.menu-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 4px;
  right: 13px;
  font-size: 1.8rem;
  cursor: pointer;
  background: -webkit-linear-gradient(45deg, #16899b 0%, #02f5a3 100%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .btn-dropdown{
//   //margin-top: 20px;
// }

.bar-dropdown {
  //margin-top: 20px;
  width: 70vmin;
  height: 2px;
  border: 2px solid;
  background: linear-gradient(90deg, #16749b 0%, #02f5a3 100%);
  @include for-phone-only {
    width: 60vmin;
  }
  @include for-tablet-portrait-up {
    width: 40vmin;
  }
}

.title-dropdown {
  //margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  background: linear-gradient(90deg, #16749b 0%, #02f5a3 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-toolbar {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  padding: 0.5rem 0;
  background: $primary-color;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* Nav Icon */
// Credit: https://codepen.io/designcouch/pen/Atyop
#nav-icon-bar {
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-left: 5px;
}

#nav-icon-bar span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: -webkit-linear-gradient(45deg, #16899b 0%, #02f5a3 100%);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#nav-icon-bar span:nth-child(1) {
  top: 4px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon-bar span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon-bar span:nth-child(3) {
  top: 25.5px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon-bar.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: 9px;
}

#nav-icon-bar.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon-bar.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 30px;
  left: 9px;
}

.connect-wallet-address {
  display: flex;
  align-items: center;
  border: 1px solid #08a06f;
  background-color: #121218;
  border-radius: 5px;
  width: 45vw;
  justify-content: center;
  cursor: pointer;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 1;
  }

  @include for-below-470 {
    width: 85vw;
  }
}

.wallet-address-container {
  width: 100vw;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 4vh;
  display: flex;
  z-index: 5;
}
