.toolbar {
  height: 2.8rem;
  width: auto;
  background-color: rgba(0, 0, 0, 0.199);
  align-self: flex-start;
  grid-column: 1/-1;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-container-enabled {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(29rem, 31rem);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include for-med-toolbar {
    grid-gap: 0.5rem;
    grid-template-columns: 33rem 0rem 29rem 0rem;
  }
  @include for-small-toolbar {
    grid-template-columns: 29rem 0rem 29rem 0rem;
  }
  @include for-smallest-toolbar {
    grid-template-columns: 27rem 1rem 25rem 0rem;
    grid-gap: 0.5rem;
  }
}

.toolbar-container-disabled {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(8rem, 18rem);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.toolbar-container-mobile {
  display: grid;
  grid-template-columns: 1fr 3fr 4rem 8fr 3rem;
  // grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include for-below-470 {
    grid-template-columns: 2fr 3fr 2rem 8fr 4rem;
  }
}

.toolbar-items {
  height: 2.8rem;
  display: grid;
  grid-template-columns: 3rem 1rem repeat(3, minmax(10rem, 10rem));
  align-items: center;
  width: 100%;

  @include for-med-toolbar {
    grid-template-columns: 1rem 1rem repeat(3, minmax(8rem, 10rem));
    grid-gap: 0.5rem;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
}

.select-blockchain {
  padding: 0 5px 0 10px;
  margin-left: 10px;
  height: 32px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #02f5a3 1px;
  border-radius: 10px;
  background-color: #0d222a;

  cursor: pointer;

  @include for-smallest-toolbar {
    font-size: 0.9rem;
  }

  @include for-below-470 {
    width: 75px;
    padding: 0px 0.2rem 0px 0.4rem;
  }

  &:hover {
    opacity: 0.7;
  }

  img {
    flex-shrink: 0;
    min-width: 20px;
    min-height: 20px;
    padding-right: 6px;
  }
}

.chain-name {
  margin-right: 5px;
  @include for-below-470 {
    font-size: 0.8rem;
  }
}

.change-network-message {
  position: absolute;
  background-color: rgb(231, 154, 149);
  font-family: "Manrope";
  width: 100%;
  text-align: left;
  padding: 8px;
  top: 55px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include for-tablet-portrait-up {
    flex-direction: row;
  }

  @include for-tablet-landscape-up {
    flex-direction: row;
  }

  @include for-desktop-up {
    font-size: 1rem;
    flex-direction: row;
  }
}

.learn-change-network-link {
  text-decoration: underline;
}

.change-network-text {
  // flex: 3;
  margin: 0px 10px 10px 40px;
  line-height: 25px;
  @include for-desktop-up {
    margin: 0px 10px 10px 10px;
  }
}

// .button-container {
//   flex: 1;
// }

.change-network-button {
  // flex-shrink: 1;
  white-space: nowrap;
  cursor: pointer;
  background-color: white;
  border: 0;
  color: black;
  font-family: "Raleway";
  font-weight: bold;
  padding: 0.8rem;
  border-radius: 10px;
  width: 85%;
  margin: 10px 10px 10px 10px;
  box-shadow: 0px 1px 2px 1px;
  &:hover {
    // text-decoration: none;
    opacity: 0.8;
  }
  &:active {
    background-color: pink;
  }
  @include for-tablet-portrait-up {
    width: 120px;
    padding: 0.5rem;
    margin: 10px 50px 10px 40px;
  }

  @include for-tablet-landscape-up {
    width: 120px;
    padding: 0.5rem;
    margin: 10px 50px 10px 40px;
  }

  @include for-desktop-up {
    width: 120px;
    padding: 0.5rem;
    margin: 0px 10px 10px 0px;
    // margin-left: 0.5rem;
  }

  @include for-below-550 {
    width: 85%;
    margin-top: 4px;
    padding: 0.8rem;
  }
}
