.wallet-menu-container {
  width: 100vw;
  height: 3rem;
  grid-column: 1/-1;
}

.wallet-menu {
  height: 3rem;
  width: 100vw;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr repeat(3, minmax(6rem, 10rem)) 1fr;
  background-color: rgba(0, 0, 0, 0.11);
  align-items: center;
  // justify-content: flex-start;
}

.wallet-body {
  align-self: baseline;
  width: auto;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
  grid-gap: 1rem;
  margin-top: -1rem;

  &-overview {
    align-self: start;
    width: auto;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
    grid-template-rows: 3rem 1fr;
    // padding-left: 1rem;
    // padding-right: 1rem;
    grid-gap: 1rem;
    margin-top: -1rem;
  }
}

.portfolio-graph {
  color: white;
  background-color: transparent;
  border: 1px solid #83aaa7;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  box-sizing: border-box;

  grid-column: 1/-1;
  @include for-tablet-landscape-up {
    grid-column: 1/3;
    margin-right: 3rem;
  }
}

.portfolio-value {
  justify-self: center;
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  justify-self: left;
  grid-column: 1/-1;
  @include for-phone-only {
    font-size: 1.5rem;
  }
}

.portfolio-graph-title {
  font-size: 1.5rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  grid-column: 1/-1;
  grid-row: 0;
  justify-self: left;
  @include for-below-520 {
    justify-self: center;
  }
}

.portfolio-graph-selector {
  justify-self: right;
}

.currency-breakdown {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(2rem, auto) 1fr;
  grid-column: 2/5;
  grid-gap: 0.5rem;

  background-color: #051323;
  border: 1px solid #83aaa7;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 80rem;
  justify-self: center;
  // width: 100%;
  @include for-tablet-portrait-up {
    // grid-template-columns: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(2rem, auto) 1fr;
    grid-column: 2/5;
  }
  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr;
    grid-column: 2/5;
    // margin-right: 3rem;
  }
}

.doughnut-container {
  position: relative;
  justify-self: center;
  // width: auto;
  width: 175px;
  @include for-tablet-portrait-up {
    grid-column: 1/2;
  }
  @include for-tablet-landscape-up {
    grid-column: 1;
    grid-row: 2/3;
  }
}

.currency-list {
  display: grid;
  grid-gap: 0.5rem;
  justify-items: center;
  width: 100%;
  @include for-tablet-portrait-up {
    grid-column: 2/-1;
    width: 100%;
  }
  @include for-tablet-landscape-up {
    align-items: center;
    height: 100%;
    max-height: 500px;
  }
}

.currency-listing-container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  min-width: 10rem;
  width: 100%;
  align-items: center;
}

.currency-listing {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;

  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0em;

  color: white;
}

.currency-walletempty-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10rem;
  align-items: center;

  font-family: "Inter", Arial, Serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.45rem;
  letter-spacing: 0em;

  color: white;
}

.networks {
  color: white;
  background-color: transparent;
  border: 1px solid #83aaa7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.w-header-container {
  height: 3rem;
  width: 100%;
  max-width: 60rem;
  grid-column: 2/5;
  justify-self: center;
}

.yield-graph {
  background-color: #131823;
  padding: 10px;
  border-radius: 20px;
  min-width: 400px;
  order: 1;
  margin-top: 10px;

  @include for-tablet-landscape-up {
    margin-top: 0;
  }

  @include for-below-520 {
    display: none;
  }
}

.wallet-overview {
  background-color: #131823;
  padding: 10px;
  border-radius: 20px;
  // min-width: 400px;
  @include for-tablet-landscape-up {
    order: 1;
  }
}

.overview-items {
  display: flex;
  margin-top: 10px;
  @include for-tablet-landscape-up {
    margin-top: 20px;
  }
  @include for-below-520 {
    flex-direction: column;
  }
}

.chart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-below-550 {
    margin-bottom: 30px;
  }
}

.total {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #19202f;
  position: absolute;
  top: 16%;
  left: 16%;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.toggle-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.toggle-bar {
  height: 30px;
  width: 54px;
  background-color: #219094;
  border-radius: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-slider-right {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  margin-left: 26px;
  transition: all 0.3s ease;
}
.toggle-slider-left {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  margin-left: 3px;
  transition: all 0.3s ease;
}

.selected-text {
  @extend .primary-text;
  font-size: 0.8rem;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.currency-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  // min-width: 300px;
}
