@use 'common' as *;

button {
  cursor: pointer;
  
  &:disabled {
    cursor: default;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  
  &.heading {
    > * {
      flex: 0 0;
    }
  }

  &.gray {
    background-color: $white-a5;
  }

  &.transparent {
    background-color: $white-a5;
  }

  &.box {
    border: 1px solid map-get($border, "default");
  }

  &.holobox {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 2px;
      background: conic-gradient(
        from 209.59deg at 50% 50%,
        #f3b8d8 0deg,
        #b793e9 50.06deg,
        #9fd4f3 85.94deg,
        #ffd2c4 134.97deg,
        #fbf3f3 172.05deg,
        #d9abdf 200.75deg,
        #af9ce3 224.67deg,
        #aae4e1 259.36deg,
        #c6ead0 298.82deg,
        #ffffff 328.72deg,
        #fdb5e4 360deg
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    &.rounded {
      &::before {
        border-radius: 12px;
      }
    }
  }

  &.rounded {
    border-radius: 12px;
  }

  &.frosted {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.102);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur( 10px );
  }
  
  &.disabled {
    cursor: disabled;
    border-color: map-get($border, "disabled");
    filter: grayscale(100%);
  }
}
