@use "common" as *;

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 1em;

  &.heading {
    > * {
      flex: 0 0;
    }
  }

  &.gray {
    background-color: $white-a5;
  }

  &.transparent {
    background-color: transparent;
  }

  &.box {
    border: 1px solid map-get($border, "default");
  }

  &.box-prominent {
    border: 1px solid map-get($border, "prominent");
  }

  &.holo {
    overflow: auto;
    position: relative;
  }

  &.holo::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: $holo;
    filter: blur(15px);
  }

  &.holobox {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 2px;
      background: $holo;
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    &.rounded {
      &::before {
        border-radius: 12px;
      }
    }
  }

  &.rounded {
    border-radius: 12px;
  }

  &.frosted {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.102);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  &.disabled {
    cursor: disabled;
    border-color: map-get($border, "disabled");
    filter: grayscale(100%);
  }
}
