.referrals-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 2em 0;
  text-align: center;
}

.referrals-inner-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
  padding-bottom: 3em;
  width: min-content;
  box-sizing: border-box;
}

@media (max-width: 850px) {
  .referrals-content {
    padding: 20px;
  }
}

.referrals-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.referrals-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 0.5em;
}

.referrals-inner-box {
  position: relative;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.referrals-inner-switcher {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content 2em max-content 1fr;
  align-items: end;
}

.referrals-inner-divider {
  height: 50%;
  border-top: 1px solid white;
}

.referrals-inner-divider:first-child {
  border-left: 1px solid white;
  border-top-left-radius: 100px;
}

.referrals-inner-divider:last-child {
  border-right: 1px solid white;
  border-top-right-radius: 100px;
}

.referrals-inner-switcher > button {
  padding-left: 2em;
  padding-right: 2em;
}

.spread-center {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.how-it-works-infobox {
  display: grid;
  grid-template-columns: 200px 200px;
  padding: 0;
  width: auto;
  align-self: center;
}

.how-it-works-half {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.how-it-works-title {
  display: flex;
  flex-direction: row;
}

.how-it-works-infobox > :first-child {
  border-right: dashed rgba(255, 255, 255, 0.2) 1px;
}

.single-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
}

.how-it-works-warning-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.how-it-works-warning-text {
  text-align: left;
}

.links-clicked-stats {
  text-align: start;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dot.red {
  background-color: #c93737;
}

.dot.green {
  background-color: #05ff00;
}

.referrals-copyable-link::selection {
  color: black;
  background: #accef7;
}

.referrals-copy-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: min-content;
  box-sizing: border-box;
  align-self: center;
  align-items: center;
}

.referrals-copy-button {
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
}

.referrals-copy-button svg {
  transform: scale(1.2);
}

.links-clicked-content {
  width: 100%;
}

.referrals-inner-content.airdrop-mobile {
  padding: 0;
  width: 100%;
}

.airdrop-mobile > .how-it-works-infobox {
  max-width: 100%;
  grid-template-columns: 1fr 1fr;
}
