@import "../../styles/config.scss";

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  @include max-860px {
    grid-template-columns: 1fr;
  }
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  max-width: 450px;
}

.right {
  @extend .left;
}
