@import "../../styles/config.scss";

.pageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // background-color: $backgroundBlack;
  height: 100vh;
  width: 100vw;
  align-items: center;
  // padding-top: 180px;
}
