@import "../../styles/config.scss";

.pageContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(../../../public/img/bg3.png);
  background-repeat: cover;
  background-size: 100% 1440px;
  // height: 100vh;
  // width: 100%;

  // padding-top: 180px;
}

.screensContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;

  background-image: url(../../../public/img/fluid-bg.gif);
  opacity: 0.6;
  background-repeat: repeat;
  background-size: 100% 1440px;
}
