# Setup Webapp Network Drivers
[[drivers.ethereum]]
label = "Ethereum"
testnet = false
rpc = { http = "FLU_ETH_RPC_HTTP", ws = "FLU_ETH_RPC_WS" }
server = "https://api.ethereum.fluidity.money"

[[drivers.solana]]
label = "Solana"
testnet = false
rpc = { http = 'FLU_SOL_RPC_HTTP', ws = 'FLU_SOL_RPC_WS' }
server = "https://api.solana.fluidity.money"

[[drivers.arbitrum]]
label = "Arbitrum"
testnet = false
rpc = { http = "FLU_ARB_RPC_HTTP", ws = "FLU_ARB_RPC_WS" }

[[drivers.polygon_zk]]
label = "Polygon ZK"
testnet = false
rpc = { http = "FLU_POLYZK_RPC_HTTP", ws = "FLU_POLYZK_RPC_WS" }

[[drivers.hasura]]
label= "Hasura"
testnet = false
rpc = { http = "FLU_HASURA_RPC_HTTP", ws = "FLU_HASURA_RPC_WS" }
secret = "FLU_HASURA_SECRET"

# Chain Configurations
[config.ethereum]
explorer = "https://etherscan.io"
fluidAssets = [
    "0xADc234a4e90E2045f353F5d4fCdE66144d23b458",
    "0x0B319dB00d07C8fAdfaAEf13C910141a5dA0aa8F",
    "0x2bE1e42BF263AaB47D27Ba92E72c14823e101D7C",
    "0x9d1089802eE608BA84C5c98211afE5f37F96B36C",
    "0x244517Dc59943E8CdFbD424Bdb3262c5f04a1387",
]

[[config.ethereum.tokens]]
symbol = "USDC"
name = "USDC Native"
logo = "/assets/tokens/usdc.svg"
address = "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
colour = "#2775ca"
decimals = 6
enabled = true

[[config.ethereum.tokens]]
symbol = "fUSDC"
name = "Fluid USDC Native"
logo = "/assets/tokens/fUSDC.svg"
address = "0x9d1089802eE608BA84C5c98211afE5f37F96B36C"
colour = "#2775ca"
isFluidOf = "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
decimals = 6
enabled = true

[[config.ethereum.tokens]]
symbol = "USDT"
name = "Tether USD"
logo = "/assets/tokens/usdt.svg"
address = "0xdAC17F958D2ee523a2206206994597C13D831ec7"
colour = "#12946c"
decimals = 6
enabled = false

[[config.ethereum.tokens]]
symbol = "fUSDT"
name = "Fluid USDT"
logo = "/assets/tokens/fUSDT.svg"
address = "0xADc234a4e90E2045f353F5d4fCdE66144d23b458"
colour = "#12946c"
isFluidOf = "0xdAC17F958D2ee523a2206206994597C13D831ec7"
decimals = 6
enabled = true

[[config.ethereum.tokens]]
symbol = "TUSD"
name = "TrueUSD"
logo = "/assets/tokens/tusd.svg"
address = "0x0000000000085d4780B73119b644AE5ecd22b376"
colour = "#1da1f2"
decimals = 18
enabled = false

[[config.ethereum.tokens]]
symbol = "fTUSD"
name = "Fluid TUSD"
logo = "/assets/tokens/fTUSD.svg"
address = "0x0B319dB00d07C8fAdfaAEf13C910141a5dA0aa8F"
colour = "#1da1f2"
isFluidOf = "0x0000000000085d4780B73119b644AE5ecd22b376"
decimals = 18
enabled = true

[[config.ethereum.tokens]]
symbol = "FRAX"
name = "Frax"
logo = "/assets/tokens/frax.svg"
address = "0x853d955aCEf822Db058eb8505911ED77F175b99e"
colour = "#e84142"
decimals = 18
enabled = false

[[config.ethereum.tokens]]
symbol = "fFRAX"
name = "Fluid FRAX"
logo = "/assets/tokens/fFRAX.svg"
address = "0x2bE1e42BF263AaB47D27Ba92E72c14823e101D7C"
colour = "#e84142"
isFluidOf = "0x853d955aCEf822Db058eb8505911ED77F175b99e"
decimals = 18
enabled = true

[[config.ethereum.tokens]]
symbol = "DAI"
name = "Dai Stablecoin"
logo = "/assets/tokens/dai.svg"
address = "0x6B175474E89094C44Da98b954EedeAC495271d0F"
colour = "#825902"
decimals = 18
enabled = false

[[config.ethereum.tokens]]
symbol = "fDAI"
name = "Fluid DAI"
logo = "/assets/tokens/fDAI.svg"
address = "0x244517Dc59943E8CdFbD424Bdb3262c5f04a1387"
colour = "#825902"
isFluidOf = "0x6B175474E89094C44Da98b954EedeAC495271d0F"
decimals = 18
enabled = true

[config.solana]
explorer = "https://explorer.solana.com"
fluidAssets = [
    "Ez2zVjw85tZan1ycnJ5PywNNxR6Gm4jbXQtZKyQNu3Lv",
]

[[config.solana.tokens]]
symbol = "USDC"
name = "USDC Native"
logo = "/assets/tokens/usdc.svg"
address = "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
colour = "#2775ca"
decimals = 6
enabled = true

[[config.solana.tokens]]
symbol = "fUSDC"
name = "Fluid USDC Native"
logo = "/assets/tokens/fUSDC.svg"
address = "Ez2zVjw85tZan1ycnJ5PywNNxR6Gm4jbXQtZKyQNu3Lv"
colour = "#2775ca"
isFluidOf = "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
obligationAccount = "J6ZHkcCiAKSKTmoUZzozZ2L1Wwm34WF2VQamyu2Sno6A"
dataAccount = "Gy6weHjgTxqFqosH1sGdECC2jG4j9h8t347KrumsQzce"
decimals = 6
enabled = true

[config.arbitrum]
explorer = "https://etherscan.io"
fluidAssets = [
    "0x4CFA50B7Ce747e2D61724fcAc57f24B748FF2b2A",
    "0xC9FA90D24B7103Ad2215DE52afec5e1E4C7a6e62",
    "0x1b40e7812E75D02Eef97E4399c33865D2Ff5952b",
]

[[config.arbitrum.tokens]]
symbol = "USDC"
name = "USDC Native"
logo = "/assets/tokens/usdc.svg"
address = "0xaf88d065e77c8cC2239327C5EDb3A432268e5831"
colour = "#2775ca"
decimals = 6
enabled = true

[[config.arbitrum.tokens]]
symbol = "fUSDC"
name = "Fluid USDC Native"
logo = "/assets/tokens/fUSDC.svg"
address = "0x4CFA50B7Ce747e2D61724fcAc57f24B748FF2b2A"
colour = "#2775ca"
isFluidOf = "0xaf88d065e77c8cC2239327C5EDb3A432268e5831"
decimals = 6
enabled = true

[[config.arbitrum.tokens]]
symbol = "USDT"
name = "Tether USD"
logo = "/assets/tokens/usdt.svg"
address = "0xFd086bC7CD5C481DCC9C85ebE478A1C0b69FCbb9"
colour = "#12946c"
decimals = 6
enabled = true

[[config.arbitrum.tokens]]
symbol = "fUSDT"
name = "Fluid USDT"
logo = "/assets/tokens/fUSDT.svg"
address = "0xC9FA90D24B7103Ad2215DE52afec5e1E4C7a6e62"
colour = "#12946c"
isFluidOf = "0xFd086bC7CD5C481DCC9C85ebE478A1C0b69FCbb9"
decimals = 6
enabled = true

[[config.arbitrum.tokens]]
symbol = "DAI"
name = "Dai Stablecoin"
logo = "/assets/tokens/dai.svg"
address = "0xDA10009cBd5D07dd0CeCc66161FC93D7c9000da1"
colour = "#825902"
decimals = 18
enabled = true

[[config.arbitrum.tokens]]
symbol = "fDAI"
name = "Fluid DAI"
logo = "/assets/tokens/fDAI.svg"
address = "0x1b40e7812E75D02Eef97E4399c33865D2Ff5952b"
colour = "#825902"
isFluidOf = "0xDA10009cBd5D07dd0CeCc66161FC93D7c9000da1"
decimals = 18
enabled = true

[[config.arbitrum.tokens]]
symbol = "wETH"
name = "Wrapped Ether"
logo = "/assets/tokens/weth.svg"
address = "0x82aF49447D8a07e3bd95BD0d56f35241523fBab1"
colour = "#eb2077"
decimals = 18
enabled = false

[config.polygon_zk]
explorer = "https://zkevm.polygonscan.com"
fluidAssets = [
    "0x74ad340fE9C506700B6ca039BDfA36cFD5dcc18C",
]

[[config.polygon_zk.tokens]]
symbol = "USDC"
name = "USDC Native"
logo = "/assets/tokens/usdc.svg"
address = "0xA8CE8aee21bC2A48a5EF670afCc9274C7bbbC035"
colour = "#2775ca"
decimals = 6
enabled = true

[[config.polygon_zk.tokens]]
symbol = "fUSDC"
name = "Fluid USDC Native"
logo = "/assets/tokens/fUSDC.svg"
address = "0x74ad340fE9C506700B6ca039BDfA36cFD5dcc18C"
colour = "#2775ca"
isFluidOf = "0xA8CE8aee21bC2A48a5EF670afCc9274C7bbbC035"
decimals = 6
enabled = true


# liquidity_providers Configurations
# eth providers
[liquidity_providers.ethereum]

[[liquidity_providers.ethereum.providers]]
name= "uniswap"

[liquidity_providers.ethereum.providers.link]
fUSDC = "https://app.uniswap.org/#/add/0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48/0x9d1089802eE608BA84C5c98211afE5f37F96B36C/"
fUSDT = "https://app.uniswap.org/#/add/0xdAC17F958D2ee523a2206206994597C13D831ec7/0xADc234a4e90E2045f353F5d4fCdE66144d23b458/"
fTUSD = "https://app.uniswap.org/#/add/0x0000000000085d4780B73119b644AE5ecd22b376/0x0B319dB00d07C8fAdfaAEf13C910141a5dA0aa8F"
fFRAX = "https://app.uniswap.org/#/add/0x853d955aCEf822Db058eb8505911ED77F175b99e/0x2bE1e42BF263AaB47D27Ba92E72c14823e101D7C"
fDAI = "https://app.uniswap.org/#/add/0x6B175474E89094C44Da98b954EedeAC495271d0F/0x244517Dc59943E8CdFbD424Bdb3262c5f04a1387/"

[[liquidity_providers.ethereum.providers]]
name= "sushiswap"

[liquidity_providers.ethereum.providers.link]
fUSDC = "https://www.sushi.com/earn/eth:0xc35466daaa5e61977ec4219d682eeb7beb431726/add"
fUSDT = "https://www.sushi.com/earn/eth:0x0d33d674f6eef1991e9aab561189b26ebed7c576/add"
fTUSD = "https://www.sushi.com/earn"
fFRAX = "https://www.sushi.com/earn"
fDAI = "https://www.sushi.com/earn"

[[liquidity_providers.ethereum.providers]]
name= "dodo"

[liquidity_providers.ethereum.providers.link]
fUSDC = "https://app.dodoex.io/earn/add-liquidity?network=mainnet&poolAddress=0x6abd7403878f3a010170a383b4f20285668fd979"
fUSDT = "https://app.dodoex.io/earn?network=mainnet"
fTUSD = "https://app.dodoex.io/earn?network=mainnet"
fFRAX = "https://app.dodoex.io/earn?network=mainnet"
fDAI = "https://app.dodoex.io/earn?network=mainnet"

[[liquidity_providers.ethereum.providers]]
name= "balancer"

[liquidity_providers.ethereum.providers.link]
fUSDC = "https://app.balancer.fi/#/ethereum/pool/0xfee6da6ce300197b7d613de22cb00e86a8537f06000200000000000000000393/invest"
fUSDT = "https://app.balancer.fi/#/ethereum/pool/create"
fTUSD = "https://app.balancer.fi/#/ethereum/pool/create"
fFRAX = "https://app.balancer.fi/#/ethereum/pool/create"
fDAI = "https://app.balancer.fi/#/ethereum/pool/create"

[[liquidity_providers.ethereum.providers]]
name= "1inch"

[liquidity_providers.ethereum.providers.link]
fUSDC = "https://app.1inch.io/#/1/earn/pools?filter=fUSDC&token0=0x9d1089802ee608ba84c5c98211afe5f37f96b36c&token1=0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
fUSDT = "https://app.1inch.io/#/1/earn/pools"
fTUSD = "https://app.1inch.io/#/1/earn/pools"
fFRAX = "https://app.1inch.io/#/1/earn/pools"
fDAI = "https://app.1inch.io/#/1/earn/pools"

# sol providers
[liquidity_providers.solana]

[[liquidity_providers.solana.providers]]
name= "orca"

[liquidity_providers.solana.providers.link]
fUSDC = "https://v1.orca.so/liquidity/browse?tokenMint=Ez2zVjw85tZan1ycnJ5PywNNxR6Gm4jbXQtZKyQNu3Lv"
fUSDT = "https://www.orca.so/"

[[liquidity_providers.solana.providers]]
name= "jupiter"

[liquidity_providers.solana.providers.link]
fUSDC = "https://www.jup.ag/"
fUSDT = "https://www.jup.ag/"

[[liquidity_providers.solana.providers]]
name= "Meteora"

[liquidity_providers.solana.providers.link]
fUSDC = "https://app.meteora.ag/pools/67rm8swU7MZAekKwnPWGufWwfasqUAJkjaAYZK55SNmK"
fUSDT = "https://app.meteora.ag"

[liquidity_providers.arbitrum]

[[liquidity_providers.arbitrum.providers]]
name= "uniswap"

[liquidity_providers.arbitrum.providers.link]
fUSDC = "https://app.uniswap.org/#/add/0xaf88d065e77c8cC2239327C5EDb3A432268e5831/0x4CFA50B7Ce747e2D61724fcAc57f24B748FF2b2A/500"

[[liquidity_providers.arbitrum.providers]]
name= "camelot"

[liquidity_providers.arbitrum.providers.link]
fUSDC = "https://app.camelot.exchange/liquidity/?token1=0xaf88d065e77c8cC2239327C5EDb3A432268e5831&token2=0x4CFA50B7Ce747e2D61724fcAc57f24B748FF2b2A"

[[liquidity_providers.arbitrum.providers]]
name= "Chronos"

[liquidity_providers.arbitrum.providers.link]
fUSDC = "https://app.chronos.exchange/liquidity"

[[config.ethereum.wallets]]
name = "Browser"
id = "metamask"
description = "Browser based wallets like Metamask, Brave, Coinbase Wallet and Opera."
logo = "/assets/wallets/eth_browser.svg"

[[config.ethereum.wallets]]
name = "WalletConnect"
id = "walletconnect"
description = "WalletConnect allows you to connect your wallet to any dApp using a QR code."
logo = "/assets/wallets/walletconnect.svg"

[[config.ethereum.wallets]]
name = "OKX Wallet"
id = "okxwallet"
description = "OKX Wallet allows you to connect your wallet to any dApp, and supports a variety of blockchains."
logo = "/assets/wallets/okx.svg"

[[config.ethereum.wallets]]
name = "Coin98"
id = "coin98"
description = "Store multi-chain Cryptoassets with Coin98 Wallet."
logo = "/assets/wallets/coin98.svg"

[[contract.solana]]
name = "Mainnet"
address = "HEvunKKgzf4SMZimVMET6HuzAyfGJS4ZMShUz94KLUdR"

[contract.prize_pool]
ethereum = "0xD3E24D732748288ad7e016f93B1dc4F909Af1ba0"
arbitrum = "0x9e48603b87930eD3EC6eB599413C4d423D92C822"
solana = ""
polygon_zk = "0xDB6d7F5aF3caDFEBBB86DD627C68fdC58cdEB91B"

[contract.staking]
ethereum = ""
arbitrum = "0x0935a031F28F8B3E600A2E5e1f48920eD206e2d0"
solana = ""
polygon_zk = ""

[contract.eac_aggregator_proxy]
ethereum = ""
arbitrum = "0x639Fe6ab55C921f74e7fac1ee960C0B6293ba612"
solana = ""
polygon_zk = ""

[contract.registry]
ethereum = ""
arbitrum = "0x28EE3aCA2DAA47a7585C5c579dBb0998C08f845d"
solana = ""
polygon_zk = ""
