# Setup Webapp Network Drivers
[[drivers.ethereum]]
label = "Ethereum"
testnet = false
rpc = { http = "FLU_ETH_RPC_HTTP", ws = "FLU_ETH_RPC_WS" }
server = "https://backend.ethereum.fluidity.money"

[[drivers.solana]]
label = "Solana"
testnet = false
rpc = { http = 'FLU_SOL_RPC_HTTP', ws = 'FLU_SOL_RPC_WS' }
server = "https://backend.solana.fluidity.money"

# Chain Configurations 
[config.ethereum]
explorer = "https://etherscan.io"
fluidAssets = [
    "0xADc234a4e90E2045f353F5d4fCdE66144d23b458",
    "0x0B319dB00d07C8fAdfaAEf13C910141a5dA0aa8F",
    "0x2bE1e42BF263AaB47D27Ba92E72c14823e101D7C",
    "0x9d1089802eE608BA84C5c98211afE5f37F96B36C",
    "0x244517Dc59943E8CdFbD424Bdb3262c5f04a1387",
]

[[config.ethereum.tokens]]
symbol = "USDT"
name = "Tether USD"
logo = "/assets/tokens/usdt.svg"
address = "0xdAC17F958D2ee523a2206206994597C13D831ec7"
colour = "#12946c"
decimals = 6

[[config.ethereum.tokens]]
symbol = "fUSDT"
name = "Fluid USDT"
logo = "/assets/tokens/usdt.svg"
address = "0xADc234a4e90E2045f353F5d4fCdE66144d23b458"
colour = "#12946c"
isFluidOf = "0xdAC17F958D2ee523a2206206994597C13D831ec7"
decimals = 6

[[config.ethereum.tokens]]
symbol = "TUSD"
name = "TrueUSD"
logo = "/assets/tokens/tusd.svg"
address = "0x0000000000085d4780B73119b644AE5ecd22b376"
colour = "#1da1f2"
decimals = 18

[[config.ethereum.tokens]]
symbol = "fTUSD"
name = "Fluid TUSD"
logo = "/assets/tokens/tusd.svg"
address = "0x0B319dB00d07C8fAdfaAEf13C910141a5dA0aa8F"
colour = "#1da1f2"
isFluidOf = "0x0000000000085d4780B73119b644AE5ecd22b376"
decimals = 18

[[config.ethereum.tokens]]
symbol = "FRAX"
name = "Frax"
logo = "/assets/tokens/frax.svg"
address = "0x853d955aCEf822Db058eb8505911ED77F175b99e"
colour = "#e84142"
decimals = 18

[[config.ethereum.tokens]]
symbol = "fFRAX"
name = "Fluid FRAX"
logo = "/assets/tokens/frax.svg"
address = "0x2bE1e42BF263AaB47D27Ba92E72c14823e101D7C"
colour = "#e84142"
isFluidOf = "0x853d955aCEf822Db058eb8505911ED77F175b99e"
decimals = 18

[[config.ethereum.tokens]]
symbol = "USDC"
name = "USD Coin"
logo = "/assets/tokens/usdc.svg"
address = "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
colour = "#2775ca"
decimals = 6
userMintLimit = 10000

[[config.ethereum.tokens]]
symbol = "fUSDC"
name = "Fluid USDC"
logo = "/assets/tokens/usdc.svg"
address = "0x9d1089802eE608BA84C5c98211afE5f37F96B36C"
colour = "#2775ca"
isFluidOf = "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
decimals = 6

[[config.ethereum.tokens]]
symbol = "DAI"
name = "Dai Stablecoin"
logo = "/assets/tokens/dai.svg"
address = "0x6B175474E89094C44Da98b954EedeAC495271d0F"
colour = "#825902"
decimals = 18

[[config.ethereum.tokens]]
symbol = "fDAI"
name = "Fluid DAI"
logo = "/assets/tokens/dai.svg"
address = "0x244517Dc59943E8CdFbD424Bdb3262c5f04a1387"
colour = "#825902"
isFluidOf = "0x6B175474E89094C44Da98b954EedeAC495271d0F"
decimals = 18

[config.solana]
explorer = "https://explorer.solana.com"
fluidAssets = [
    "Ez2zVjw85tZan1ycnJ5PywNNxR6Gm4jbXQtZKyQNu3Lv",
    "D5zHHS5tkf9zfGBRPQbDKpUiRAMVK8VvxGwTHP6tP1B8",
]

[[config.solana.tokens]]
symbol = "USDC"
name = "USD Coin"
logo = "/assets/tokens/usdc.svg"
address = "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
colour = "#2775ca"
decimals = 6

[[config.solana.tokens]]
symbol = "fUSDC"
name = "Fluid USDC"
logo = "/assets/tokens/usdc.svg"
address = "Ez2zVjw85tZan1ycnJ5PywNNxR6Gm4jbXQtZKyQNu3Lv"
colour = "#2775ca"
isFluidOf = "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
decimals = 6

[[config.solana.tokens]]
symbol = "USDT"
name = "Tether USD"
logo = "/assets/tokens/usdt.svg"
address = "Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB"
colour = "#12946c"
decimals = 6

[[config.solana.tokens]]
symbol = "fUSDT"
name = "Fluid USDT"
logo = "/assets/tokens/usdt.svg"
address = "D5zHHS5tkf9zfGBRPQbDKpUiRAMVK8VvxGwTHP6tP1B8"
colour = "#12946c"
isFluidOf = "Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB"
decimals = 6

# liquidity_providers Configurations 
# eth providers
[liquidity_providers.ethereum]

[[liquidity_providers.ethereum.providers]]
name= "uniswap"
img= "/images/providers/Uniswap.svg"
link= "https://www.uniswap.org/"

[[liquidity_providers.ethereum.providers]]
name= "sushiswap"
img= "/images/providers/Sushiswap.svg"
link= "https://www.sushi.com/"

[[liquidity_providers.ethereum.providers]]
name= "dodo"
img= "/images/providers/DODO.png"
link= "https://www.dodoex.io/"

# sol providers
[liquidity_providers.solana]

[[liquidity_providers.solana.providers]]
name= "solend"
img= "/images/providers/solend.png"
link= "https://www.solend.fi/"

[[liquidity_providers.solana.providers]]
name= "orca"
img= "/images/providers/Orca.svg"
link= "https://www.orca.so/"

[[liquidity_providers.solana.providers]]
name= "saber"
img= "/images/providers/saber.svg"
link= "https://www.saber.so/"

[[liquidity_providers.solana.providers]]
name= "jupiter"
img= "/images/providers/Jupiter.svg"
link= "https://www.jup.ag/"

# provider icons
[provider_icons]
Aave= "/images/providers/aave-aave-logo.png"
Aldrin= "/images/providers/Aldrin.svg"
Circle= "/images/providers/circle-icon-inset-300.png"
Compound= "/images/providers/Compound.svg"
Dodo= "/images/providers/DODO.png"
Jupiter= "/images/providers/Jupiter.svg"
Lemniscap= "/images/providers/Lemniscap.png"
Maker= "/images/providers/maker-mkr-logo.png"
Multicoin= "/images/providers/Multicoin.png"
Orca= "/images/providers/Orca.svg"
Polygon= "/images/providers/Polygon.svg"
Saber= "/images/providers/saber.svg"
Solana= "/images/providers/Solana.svg"
Solend= "/images/providers/solend.png"
Uniswap= "/images/providers/Uniswap.svg"
Sushiswap= "/images/providers/Sushiswap.svg"

[[config.ethereum.wallets]]
name = "Browser"
id = "metamask"
description = "Browser based wallets like Metamask, Brave, Coinbase Wallet and Opera."
logo = "/assets/wallets/eth_browser.svg"

[[config.ethereum.wallets]]
name = "WalletConnect"
id = "walletconnect"
description = "WalletConnect allows you to connect your wallet to any dApp using a QR code."
logo = "/assets/wallets/walletconnect.svg"

[[contract.solana]]
name = "Mainnet"
address = "HEvunKKgzf4SMZimVMET6HuzAyfGJS4ZMShUz94KLUdR"

