.container {
    display: flex;
    min-height: 850px;
    width: 100%;
    border: solid 2px red;
    opacity: 0.7;
    background-image: url("../../../public/assets/images/header-transition.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  