@import "../../styles/config.scss";
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  width: 100%;
}

.rewardsBackground {
  width: 100%;
  height: 100%;
}

.stats {
  position: absolute;
  margin-bottom: 500px;
  max-width: 1400px;
  width: 100%;
  z-index: 5;

  h1 {
    margin: 0;
  }
  h4 {
    margin: 10px;
  }
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infoSingle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  // width: 160px;
}

.fadeIn {
  transition: opacity 3s ease;
}

.fadeOut {
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 0;
}
