@import "../../styles/config.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  width: 100%;
  flex-direction: column;
  background-color: $fluidBlack;
}

.carouselText {
  h2 {
    margin-right: 20px;
    opacity: 1;
  }
  background-color: $fluidBlack;
}

.docsCard {
  border: 1px solid white;
  height: 350px;
  min-width: 350px;
  margin-right: 20px;
  margin-bottom: 50px;

  img {
    height: 60%;
    width: 100%;
  }

  h3 {
    margin: 10px 0 10px 0;
    padding: 10px;
  }

  p {
    padding: 10px;
    font-family: 'Aeonik';
    font-size:20px;
    color: $textGrey;
  }

  a{
    color: $textGrey;
    padding: 10px;
    font-size: 11px;
  }
}

.customInput {
  background-color: $fluidBlack;
  padding: 10px;
  input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $fluidBlack;
    font-size: 20px;
    color: $textGrey;
    margin:  0 70px 10px 0;
  }

  p {
    padding: 10px;
  }
}