@import "../../styles/config.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  width: 100%;
  flex-direction: column;
  background-color: $fluidBlack;
  @include max-860px {
    padding-right: 4%;
  }
}

.carouselText {
  // h2 {
  //   margin-right: 20px;
  //   opacity: 1;
  // }
  background-color: $fluidBlack;
}

.docsCard {
  // border: 1px solid white;
  height: 350px;
  min-width: 350px;
  margin-right: 20px;
  margin-bottom: 50px;
  background-color: $backgroundBlack;
  padding: 20px;

  .imgContainer {
    width: 100%;

    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      display: block;
    }
  }

  // h3 {
  //   margin: 10px 0 10px 0;
  //   padding: 10px;
  // }

  // p {
  //   padding: 10px;
  //   font-family: "Aeonik";
  //   font-size: 20px;
  //   color: $textGrey;
  // }

  a {
    color: $textGrey;
    padding: 10px;
    font-size: 11px;
  }
}

.carousel {
  width: 100%;
  align-self: flex-end;
}

.callout {
  display: flex;
}

.text {
  margin-right: 10px;
  &Hollow {
    margin-right: 10px;
  }
}
