---
version: "3"

services:
  microservice-common-amqp-copy-messages-user-actions-testing:
    build:
      context: ../cmd/microservice-common-amqp-copy-messages
    env_file: ./docker-compose-envs
    environment:
      FLU_WORKER_ID: ${FLU_UNIVERSE}-microservice-common-amqp-copy-messages-user-actions-testing
      FLU_AMQP_COPY_FROM_EXCHANGE: ${FLU_AMQP_COPY_FROM_EXCHANGE_USER_ACTIONS_TESTING}
      FLU_AMQP_COPY_FROM_TOPIC_NAME: ${FLU_AMQP_COPY_FROM_TOPIC_NAME_USER_ACTIONS_TESTING}
      FLU_AMQP_COPY_FROM_URI: ${FLU_AMQP_COPY_FROM_URI_USER_ACTIONS_TESTING}
      FLU_AMQP_COPY_TO_EXCHANGE: ${FLU_AMQP_COPY_TO_EXCHANGE_USER_ACTIONS_TESTING}
      FLU_AMQP_COPY_TO_TOPIC_NAME: ${FLU_AMQP_COPY_TO_TOPIC_NAME_USER_ACTIONS_TESTING}
      FLU_AMQP_COPY_TO_URI: ${FLU_AMQP_COPY_TO_URI_USER_ACTIONS_TESTING}
    restart: unless-stopped

  microservice-common-amqp-copy-messages-user-actions-production:
    build:
      context: ../cmd/microservice-common-amqp-copy-messages
    env_file: ./docker-compose-envs
    environment:
      FLU_WORKER_ID: ${FLU_UNIVERSE}-microservice-common-amqp-copy-messages-user-actions-production
      FLU_AMQP_COPY_FROM_EXCHANGE: ${FLU_AMQP_COPY_FROM_EXCHANGE_USER_ACTIONS_PRODUCTION}
      FLU_AMQP_COPY_FROM_TOPIC_NAME: ${FLU_AMQP_COPY_FROM_TOPIC_NAME_USER_ACTIONS_PRODUCTION}
      FLU_AMQP_COPY_FROM_URI: ${FLU_AMQP_COPY_FROM_URI_USER_ACTIONS_PRODUCTION}
      FLU_AMQP_COPY_TO_EXCHANGE: ${FLU_AMQP_COPY_TO_EXCHANGE_USER_ACTIONS_PRODUCTION}
      FLU_AMQP_COPY_TO_TOPIC_NAME: ${FLU_AMQP_COPY_TO_TOPIC_NAME_USER_ACTIONS_PRODUCTION}
      FLU_AMQP_COPY_TO_URI: ${FLU_AMQP_COPY_TO_URI_USER_ACTIONS_PRODUCTION}
    restart: unless-stopped

  microservice-common-amqp-copy-messages-winners-testing:
    build:
      context: ../cmd/microservice-common-amqp-copy-messages
    env_file: ./docker-compose-envs
    environment:
      FLU_WORKER_ID: ${FLU_UNIVERSE}-microservice-common-amqp-copy-messages-winners-testing
      FLU_AMQP_COPY_FROM_EXCHANGE: ${FLU_AMQP_COPY_FROM_EXCHANGE_WINNERS_TESTING}
      FLU_AMQP_COPY_FROM_TOPIC_NAME: ${FLU_AMQP_COPY_FROM_TOPIC_NAME_WINNERS_TESTING}
      FLU_AMQP_COPY_FROM_URI: ${FLU_AMQP_COPY_FROM_URI_WINNERS_TESTING}
      FLU_AMQP_COPY_TO_EXCHANGE: ${FLU_AMQP_COPY_TO_EXCHANGE_WINNERS_TESTING}
      FLU_AMQP_COPY_TO_TOPIC_NAME: ${FLU_AMQP_COPY_TO_TOPIC_NAME_WINNERS_TESTING}
      FLU_AMQP_COPY_TO_URI: ${FLU_AMQP_COPY_TO_URI_WINNERS_TESTING}
    restart: unless-stopped

  microservice-common-amqp-copy-messages-winners-production:
    build:
      context: ../cmd/microservice-common-amqp-copy-messages
    env_file: ./docker-compose-envs
    environment:
      FLU_WORKER_ID: ${FLU_UNIVERSE}-microservice-common-amqp-copy-messages-winners-production
      FLU_AMQP_COPY_FROM_EXCHANGE: ${FLU_AMQP_COPY_FROM_EXCHANGE_WINNERS_PRODUCTION}
      FLU_AMQP_COPY_FROM_TOPIC_NAME: ${FLU_AMQP_COPY_FROM_TOPIC_NAME_WINNERS_PRODUCTION}
      FLU_AMQP_COPY_FROM_URI: ${FLU_AMQP_COPY_FROM_URI_WINNERS_PRODUCTION}
      FLU_AMQP_COPY_TO_EXCHANGE: ${FLU_AMQP_COPY_TO_EXCHANGE_WINNERS_PRODUCTION}
      FLU_AMQP_COPY_TO_TOPIC_NAME: ${FLU_AMQP_COPY_TO_TOPIC_NAME_WINNERS_PRODUCTION}
      FLU_AMQP_COPY_TO_URI: ${FLU_AMQP_COPY_TO_URI_WINNERS_PRODUCTION}
    restart: unless-stopped
