---
version: "3"

services:
  connector-common-user-actions-timescale:
    build:
      context: ../cmd/connector-common-user-actions-timescale
    env_file: ./docker-compose-envs
    environment:
      FLU_WORKER_ID: ${FLU_UNIVERSE}-connector-common-user-actions-timescale
      FLU_SENTRY_URL: ${FLU_SENTRY_URL}
      FLU_AMQP_QUEUE_ADDR: ${FLU_AMQP_QUEUE_ADDR}
    depends_on:
      - timescale
    restart: unless-stopped

  connector-common-prize-pool-postgres:
    build:
      context: ../cmd/connector-common-prize-pool-postgres
    env_file: ./docker-compose-envs
    environment:
      FLU_WORKER_ID: ${FLU_UNIVERSE}-connector-common-prize-pool-postgres
      FLU_SENTRY_URL: ${FLU_SENTRY_URL}
      FLU_AMQP_QUEUE_ADDR: ${FLU_AMQP_QUEUE_ADDR}
      FLU_ETHEREUM_HTTP_URL: ${FLU_ETHEREUM_HTTP_URL}
    depends_on:
      - postgres
    restart: unless-stopped

  connector-common-winners-timescale:
    build:
      context: ../cmd/connector-common-winners-timescale
    env_file: ./docker-compose-envs
    environment:
      FLU_WORKER_ID: ${FLU_UNIVERSE}-connector-common-prize-pool
      FLU_SENTRY_URL: ${FLU_SENTRY_URL}
      FLU_AMQP_QUEUE_ADDR: ${FLU_AMQP_QUEUE_ADDR}
    depends_on:
      - postgres
    restart: unless-stopped

  connector-common-emissions-timescale:
    build:
      context: ../cmd/connector-common-emissions-timescale
    env_file: ./docker-compose-envs
    environment:
      FLU_WORKER_ID: ${FLU_UNIVERSE}-connector-common-emissions-timescale
      FLU_SENTRY_URL: ${FLU_SENTRY_URL}
      FLU_AMQP_QUEUE_ADDR: ${FLU_AMQP_QUEUE_ADDR}
    depends_on:
      - timescale
    restart: unless-stopped
