---
version: "3"

services:
  microservice-solana-prize-pool:
    build:
      context: ../cmd/microservice-solana-prize-pool
    env_file: ./docker-compose-envs
    environment:
      FLU_WORKER_ID: ${FLU_UNIVERSE}-microservice-solana-prize-pool
      FLU_SENTRY_URL: ${FLU_SENTRY_URL}
      FLU_AMQP_QUEUE_ADDR: ${FLU_AMQP_QUEUE_ADDR}
      FLU_AMQP_QUEUE_ADDR: ${FLU_AMQP_QUEUE_ADDR}
      FLU_SOLANA_RPC_URL: ${FLU_SOLANA_RPC_URL}
      FLU_SOLANA_PROGRAM_ID: ${FLU_SOLANA_PROGRAM_ID}
      FLU_SOLANA_TOKENS_LIST: ${FLU_SOLANA_TOKENS_LIST}
      FLU_SOLANA_PRIZE_POOL_UPDATE_TIME: ${FLU_SOLANA_PRIZE_POOL_UPDATE_TIME}
      FLU_SOLANA_TVL_PAYER_PRIKEY: ${FLU_SOLANA_TVL_PAYER_PRIKEY}
      FLU_SOLANA_TVL_DATA_PUBKEY: ${FLU_SOLANA_TVL_DATA_PUBKEY}
      FLU_SOLANA_SOLEND_PROGRAM_ID: ${FLU_SOLANA_SOLEND_PROGRAM_ID}
    restart:
      unless-stopped

  microservice-common-count-wins-solana:
    build:
      context: ../cmd/microservice-common-count-wins
    env_file: ./docker-compose-envs
    environment:
      FLU_WORKER_ID: ${FLU_UNIVERSE}-microservice-common-count-wins-solana
      FLU_SOLANA_TOKENS_LIST: ${FLU_SOLANA_TOKENS_LIST}
    depends_on:
      - postgres
      - timescale
