---
version: "3"

services:
  solana.fluidity.money-frontend:
    build:
      context: ../web/solana.fluidity.money
      dockerfile: Dockerfile.frontend
      args:
        REACT_APP_API_URL: ${FLU_SOLANA_FRONTEND_API_URL}
        REACT_APP_WEBSOCKET: ${FLU_SOLANA_FRONTEND_WS_URL}
        REACT_APP_SENTRY_DSN: ${FLU_SENTRY_URL}
        REACT_APP_FLUID_PROGRAM_ID: ${FLU_SOLANA_PROGRAM_ID}
        REACT_APP_FLU_MINT_USDC: ${FLU_SOLANA_FLUID_MINT_PUBKEY_USDC}
        REACT_APP_FLU_OBLIGATION_USDC: ${FLU_SOLANA_OBLIGATION_PUBKEY_USDC}
        REACT_APP_FLU_DATA_ACCOUNT_USDC: ${FLU_SOLANA_DATA_ACCOUNT_USDC}
        REACT_APP_BASE_MINT_USDC: ${FLU_SOLANA_BASE_MINT_USDC}
        REACT_APP_FLU_MINT_USDT: ${FLU_SOLANA_FLUID_MINT_PUBKEY_USDT}
        REACT_APP_FLU_OBLIGATION_USDT: ${FLU_SOLANA_OBLIGATION_PUBKEY_USDT}
        REACT_APP_FLU_DATA_ACCOUNT_USDT: ${FLU_SOLANA_DATA_ACCOUNT_USDT}
        REACT_APP_BASE_MINT_USDT: ${FLU_SOLANA_BASE_MINT_USDT}
        REACT_APP_FLU_MINT_UST: ${FLU_SOLANA_FLUID_MINT_PUBKEY_UST}
        REACT_APP_FLU_OBLIGATION_UST: ${FLU_SOLANA_OBLIGATION_PUBKEY_UST}
        REACT_APP_FLU_DATA_ACCOUNT_UST: ${FLU_SOLANA_DATA_ACCOUNT_UST}
        REACT_APP_BASE_MINT_UST: ${FLU_SOLANA_BASE_MINT_UST}
        REACT_APP_SOL_NETWORK: ${FLU_SOLANA_NETWORK}
    ports:
      - 127.0.0.1:8084:80
    restart: unless-stopped

  solana.fluidity.money-backend:
    build:
      context: ../web/solana.fluidity.money
      dockerfile: Dockerfile.backend
    env_file: ./docker-compose-envs
    environment:
      FLU_WORKER_ID: ${FLU_UNIVERSE}-solana.fluidity.money-backend
      FLU_SENTRY_URL: ${FLU_SENTRY_URL}
      FLU_AMQP_QUEUE_ADDR: ${FLU_AMQP_QUEUE_ADDR}
    ports:
      - 127.0.0.1:8085:80
    restart: unless-stopped
    depends_on:
      - timescale
