.reward-board-container {
  grid-column: 1/-1;
  margin-left: auto;
  margin-right: auto;
  width: 800px;

  background: #1a1a1b;
  position: relative;
  @include border-gradient(30px, 3px);

  @include for-tablet-landscape-down {
    width: 575px;
  }
  @include for-phone-only {
    width: 400px;
  }
  @include for-below-400 {
    width: 300px;
  }
}

.reward-box-container {
  box-sizing: border-box;
  text-align: center;
  border-radius: 30px;
  grid-column: 1/-1;
  margin-right: auto;
  margin-left: auto;
  height: fit-content;
  width: fit-content;
  background: #1a1a1b;
  position: relative;
  padding: 2rem;
  gap: 1rem;

  flex-direction: column;
  text-align: center;
  height: auto;
  @include border-gradient(30px, 3px);

  @include for-tablet-landscape-up {
    min-width: 40rem;
  }
  @include for-1300-up {
    flex-direction: row;
    max-width: fit-content;
  }
}

/* reward board */
.reward-info-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1rem;
  font-size: 1rem;
  @include for-phone-only {
    grid-template-columns: auto auto;
    > div:nth-child(3n) {
      display: none;
    }
  }
  @include for-tablet-portrait-up {
    width: 30rem;
  }
  @include for-tablet-landscape-up {
    width: 40rem;
  }
}

.reward-info-table {
  width: 100%;
  table-layout: fixed;
}

.reward-info-table-body {
  padding-top: 20px;
}

.reward-info-table td {
  -webkit-background-clip: unset;
  -moz-background-clip: unset;
  -webkit-text-fill-color: unset;
  -moz-text-fill-color: unset;
  color: white;

  background: unset;
  text-align: center;
}

.swap-box-header {
  font-size: 1.2rem;
}

.swap-box-subheader {
  font-weight: 700;
}
