.header {
  transition: ease-in-out 0.1s;
}

.header-text {
  font-family: Manrope, sans-serif;
  font-size: 1.2rem;
  @include for-med-toolbar {
    font-size: 0.9rem;
  }
  @include for-below-470 {
    font-size: 1rem;
  }
  &-connect-wallet-address {
    @extend .header-text;
    width: fit-content;
  }
}

.btn__div {
  height: 5rem;
}

.wallet-header {
  font-size: 1.3rem;
}
