.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000007c;
  width: 100%;
  height: 100%;
  z-index: 999999;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;

  padding: 1rem;
  &.unpadded {
    padding: 0;
  }
  box-sizing: border-box;
  animation: fadein 0.3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-body {
  position: relative;
  display: flex;
  flex-direction: column;
  //padding: 1rem;
  background-color: $background-dark;
  border-radius: 1.5em;
  border-width: 1px;
  @include border-gradient(1.5em);
  border-color: $border-color;
  height: fit-content;
  width: 100%;
  max-width: 24rem;
  box-sizing: border-box;
}

.modal-close-btn {
  display: block;
  margin-right: 1em;
  margin-left: auto;
  margin-top: 1em;
  width: 2em;
  height: 2em;
  cursor: pointer;
  border-style: hidden;
}

.modal-close-btn-x {
  width: 2em;
  height: 3em;
  vertical-align: middle;
  overflow: hidden;
  z-index: 99;
  border-style: hidden;
}

.ata-modal-body {
  @extend .modal-body;
  max-width: 50rem;
  width: fit-content;
  align-items: center;
  gap: 1em;
  padding: 2em;

  @media (max-width: 555px) {
    padding: 0;
    width: 100%;
    word-break: break-all;
  }
}

.ata-account-text {
  font-weight: bold;
  color: #02f5a3;
}

.ata-header {
  margin: 1em 0 0 0;
}

.ata-text {
  color: white;
  font-family: Inter, sans-serif;
  text-align: center;
}

.ata-button-container {
  width: 100%;
}

.ata-button {
  flex: 1;
}

// ## Modal Themes ##
// Wallet Connect Modal Theme
.connect-modal-body {
  //min-width: 18rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}

.connect-modal-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;

  margin: 0 1rem 1rem 1rem;

  & > * {
    margin: 0.25rem 0;
  }
}

// Confirm Payment Modal Theme
.payment-modal-body {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  padding: 1rem;
}

.payment-modal-form {
  grid-column: 1/-1;
}

.payment-modal-x {
  display: grid;
  justify-items: right;
  align-items: center;
}

.payment-arrow {
  display: grid;
  justify-content: center;
  grid-column: 1/-1;
}

.payment-button {
  height: 3rem;
  grid-column: 1/-1;
}

.payment-text {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;

  color: #b6d1db;
  @include for-below-400 {
    font-size: 0.8rem;
  }
}

.payment-token {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  align-items: center;
}

.wallet-icon {
  position: relative;
  width: 2.8rem;
  padding-right: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  @include for-below-400 {
    width: 2.5rem;
  }
}

//TODO visually disable surrounding button as well
.wallet-icon.disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.wallet-text {
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  text-align: end;
  @include for-below-400 {
    font-size: 1.4rem;
  }
}

.wallet-text.disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

// Wallet Connect Theme
.walletconnect-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000007c;
  width: 100%;
  height: 100%;
  padding: 5rem 2rem;
  z-index: 999999;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;

  flex-wrap: wrap;
  overflow-y: auto;
}

.walletconnect-modal-body {
  min-width: 13rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem;

  grid-row-gap: 1.25rem;
}

.connected-wallet-modal-header {
  font-size: 1.3rem;
  @include for-tablet-landscape-up {
    font-size: 1.5rem;
  }
}

.walletconnect-wallet-info {
  border-radius: 10px;
  background-color: #212429;
  padding: 10px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;

  grid-column: 1/-1;
}

.walletconnect-account {
  color: #f8f7f6;
  font-size: 1.25rem;
}

.walletconnect-option-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.5rem;
}

.walletconnect-option {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  border-color: "#a4aef2";
  border-radius: 17px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;

  transition: ease-in-out 0.1s;
  cursor: pointer;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  color: #b6d1db;
  font-family: "Inter", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;

  &:hover {
    background-color: rgba(56, 60, 69, 0.5);
  }

  &:active {
    filter: brightness(60%);
  }
}

.copied-animation {
  animation: FloatAway 3s;
}

// Transaction theme modal
.transaction-confirmation-modal-form {
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.confirm-modal-header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: auto auto;
}

.confirm-modal-header-text {
  font-size: 1.5rem;
}

.view-on-explorer {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  color: white;
  text-align: center;
  text-decoration: underline;
}
