.swap-text-container {
  max-width: 25rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  grid-column: 1/-1;
  @include for-tablet-landscape-up {
    grid-column: 1/2;
    margin-right: 3rem;
    text-align: right;
  }
}

.swap-text-secondary {
  font-size: 1.1rem;
  margin-top: 1rem;

  -webkit-text-fill-color: unset;
  -moz-text-fill-color: unset;
  background: unset;
  color: white;

  font-family: Manrope, sans-serif;
  font-weight: 300;

  @include for-tablet-landscape-up {
    font-size: 1.4rem;
  }
}

.swap-text-header {
  font-size: 2rem;
  text-align: left;

  -webkit-text-fill-color: unset;
  -moz-text-fill-color: unset;
  background: unset;
  color: white;
  font-family: Manrope, sans-serif;
  font-weight: 800;

  & .highlight {
    color: #12ecab;
  }

  @include for-tablet-landscape-up {
    text-align: right;
    font-size: 3rem;
  }
}

.swap-box-container {
  width: stretch;
  max-width: 25rem;
  position: relative;
  z-index: 1;

  // gradient outlines/background svg
  &:before {
    pointer-events: none;
    background: url("/img/WEBAPP_BOX.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;

    // copy svg offset dimensions
    left: -54px;
    top: -47px;
    // width: 511px;
    // height: 481px;
    width: 130%;
    height: 130%;
    content: " ";
    z-index: -1;
  }

  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
  grid-column: 1/-1;
  @include for-tablet-landscape-up {
    grid-column: 2/-1;
    margin-left: 3rem;
  }
}

.swap-form {
  margin: 1.5em;
}

.swap-box-header {
  align-items: center;
}

.swap-field {
  position: relative;
  @include border-gradient;

  display: grid;
  grid-template-columns: 1fr 1fr;

  // border-image
  padding: 10px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.swap-field-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 6px;
  padding-right: 6px;
}

.swap-field-margin {
  margin-top: 1rem;
  @include for-below-420 {
    margin-top: 0.8rem;
  }
  @include for-below-400 {
    margin-top: 0.6rem;
  }
  @include for-below-380 {
    margin-top: 0.4rem;
  }
}

.token-selection-container {
  border: 0px;
  cursor: pointer;
  border-radius: 10px;
  box-sizing: border-box;
  width: 9rem;
  background-color: white;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  justify-content: center;

  text-align: center;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 0.8rem;
  white-space: nowrap;

  column-gap: 0.75em;

  @include for-tablet-portrait-up {
    font-size: 1rem;
  }

  &:hover {
    opacity: 0.8;
  }
}
