// walletkit dark theme, adapted from
// https://github.com/GokiProtocol/walletkit/issues/109
[data-reach-dialog-overlay] {
  z-index: 999999;

  // only the top solana lettering
  a ~ div :not(path:last-of-type) {
    fill: white;
  }

  .goki-walletkit-modal-wrapper {
    background: $background-dark;
    border: none;
    @include border-gradient(8px);
    span, p, h2, div {
      color: white;
    }
    h2 ~ div svg {
      fill: white;
    }
    h2 ~ div div,
    div:nth-of-type(2) div div,
    svg + div {
      background: $background-dark;
    }
    button {
      border: 1px solid cyan;
      background: $background-dark;
    }
    a {
      color: cyan;
    }
  }
}
