@import "../../../src/styles/config.scss";

.containerLanding {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 850px;
  width: 100%;
  background-image: url("../../../public/assets/images/bg-blur-desktop.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // display: grid;
  // grid-template-columns: repeat(1, 1fr);
  // position: relative;
  // max-width: 1500px;
  padding-top: 100px;
  h1 {
    text-align: center;
  }
}

.bgVid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 444px;
  height: 444px;
  position: relative;
  // min-width: 225px;
  // min-height: 225px;
  border: solid 1px pink;
  border-radius: 50%;
  background-color: gray;
  opacity: 0;
  visibility: hidden;
  @include max-1080px {
    width: 350px;
    height: 350px;
  }
  @include max-900px {
    width: 300px;
    height: 300px;
  }

  @include max-760px {
    width: 200px;
    height: 200px;
  }

  @include max-620px {
    width: 350px;
    height: 350px;
  }
}

// .fadeIn {
//   transition: opacity 3s ease;
// }

// .fadeInText {
//   margin-bottom: 250px;
//   transition: opacity 1s ease 0s, all 3s ease 1s;
// }

// .fadeOut {
//   opacity: 0;
//   transition: opacity 1s ease;
// }

.text {
  margin-right: 10px;
  &Hollow {
    margin-right: 10px;
  }
}

.carousel {
  width: 100%;
}

.content {
  width: 100%;
  margin-top: -680px;
  display: flex;
  position: relative;
  flex-direction: column;
  opacity: 1;
  align-items: center;
  min-height: 650px;
  padding-bottom: 45px;
  justify-content: space-between;
  @include max-900px {
    min-height: 425px;
  }
}

.tiles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  @include max-1080px {
    align-items: center;
  }
  @include max-620px {
    flex-direction: column;
    align-items: center;
  }
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  
  &.notLoaded {
    & > .left {
      width: 50%;
    }
    
    & > .right {
      width: 50%;
    }
  }
}

.right {
  margin-right: 40px;
  @include max-1080px {
    margin-right: 10px;
  }
}

.left {
  margin-left: 40px;
  @include max-1080px {
    margin-left: 10px;
  }
  @include max-620px {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }
}

.carousel {
  width: 100%;
  align-self: flex-end;
}

.callout {
  display: flex;
}
