@import "../../../src/styles/config.scss";

.containerLanding {
  align-self: center;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-height: 850px;
  width: 700px;
  max-width: 90dvw;

  .display {
    font-weight: 100;
    margin: 0;
    width: 100%;
    font-size: 5em;
  }

  @media (max-width: 620px) {
  padding: 0;
  margin-bottom: 100px;
    min-height: auto;
    .display {
      font-size: 4em;
    }
  }
}

.video {
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  transform: scale(1.5);

  @media (max-width: 800px) {
    transform: scale(1);
  }
}

.containerLanding {
  .heroDesc {
    flex-grow: 1;
    max-width: 300px;
    text-align: right;
    justify-self: flex-end;

    @media (max-width: 620px) {
      text-align: center;
      max-width: 100%;
    }
  }

  .heroBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    row-gap: 40px;

    .heroButtons {
      display: flex;
      flex-direction: column;
      gap: 1em;
      align-items: center;
    }
  }
}

.rainbow {
  position: relative;
  overflow: hidden;
  font-size: 15px;
  box-shadow: 0 0 8px 2px rgba(243, 184, 216, 0.3);

  div {
    z-index: 3;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: -20%;
    top: -150%;
    width: 400px;
    height: 400px;
    background-color: #f3b8d8;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(
      45deg,
      #f3b8d8,
      #b793e9,
      #9fd4f3,
      #ffd2c4,
      #fbf3f3,
      #d9abdf,
      #af9ce3,
      #aae4e1,
      #c6ead0,
      #ffffff,
      #fdb5e4
    );
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: black;
    border-radius: inherit;
  }
}


.rainbow:hover > h5 {
  color: black;
}

.rainbow:hover:focus > h5 {
  color: white;
}

.rainbow:hover:focus::after {
  background: black;
}

.rainbow:hover::after {
  background: transparent;
}

.announcement {
  cursor: pointer;
  border-radius: 100px !important;
  padding: 0.6em 2em;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  text-align: center;

  svg > path {
    fill: none;
    stroke: grey;
  }

  border: none !important;

  &::before {
    border-radius: 100px !important;
    transition: opacity 0.3s ease;
    opacity: 0.2;
  }

  &:hover {
    &::before {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }
}
