/* 
    Loading Animation Pure CSS (Modified)
    Creator: Dmitry Rybalko 
    Link: https://codepen.io/Testosterone/pen/ZEKEWEr
*/

$cWhite: white;

.spinner {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  & div {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $cWhite;
    animation: sk-bouncedelay 1.4s infinite;
  }
  & .bounce1 {
    animation-delay: -0.42s;
  }
  & .bounce2 {
    animation-delay: -0.20s;
  }
}

@keyframes sk-bouncedelay {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }

  80% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}
