.HeroCarousel {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;

  .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .deck {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(50, 20%);
    grid-template-rows: 100%;
    position: relative;
    height: fit-content;
    width: 100%;
    overflow: visible;
    aspect-ratio: 1/1;
  }

  .slide {
    top: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;

    &.active {
      cursor: grab;
      z-index: 0;
      pointer-events: auto;
    }
  }
}

.card {
  padding: 0;
  aspect-ratio: 1;

  img {
    width: 100%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
