.HeroCarousel {
  position: relative;
  width: 100%;
  padding: 1em;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;


  .deck { margin-top: 2em;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(50, 20%);
    grid-template-rows: 100%;
    position: relative;
    height: fit-content;
    width: 100%;
    overflow: visible;
  }

  .slide {
    top: 0;
    box-sizing:border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
  
    &.active {
      cursor: grab;
      z-index: 1;
      pointer-events: auto;
    }
  }
}

.card {
  padding: 0;
  height: fit-content;

  img {
    width: 100%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    aspect-ratio: 1;
    object-fit: cover;
  }
}