@use 'common' as *;

.text {
    font-family: "Whyte Inktrap", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.02em;

    color: map-get($text, "prominent")
}

.xs {
    font-size: $em-step * 9;
}

.sm {
    font-size: $em-step * 14;
}

.md {
    font-size: $em-step * 16;
}

.lg {
    font-size: $em-step * 18;
}

.center {
    text-align: center;
}

.noMarginBottom {
    margin-bottom: 0;
}
