@use 'common' as *;

.display {
    font-family: "Whyte Inktrap", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.02em;

    &.white {
        color: map-get($text, "prominent");
    }

    &.gray {
        color: map-get($text, "default");
    }
}

.xss {
    font-size: $em-step * 8;
}

.xs {
    font-size: $em-step * 9;
}

.sm {
    font-size: $em-step * 14;
}

.md {
    font-size: $em-step * 16;
}

.lg {
    font-size: $em-step * 18;
}