.header {
    transition: ease-in-out 0.1s;
}

.header-text {
    font-size: 1.2rem;
    font-family: Manrope, sans-serif;
}

.btn__div{
    height: 5rem;
}

.wallet-header {
    font-size: 1.3rem;
}
