@use 'common' as *;

@mixin tablet {
  @media (max-width: 860px) {
    @content;
  }
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  @include tablet {
    grid-template-columns: 1fr;
  }
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  max-width: 400px;
  @include tablet {
    max-height: 500px;
  }
}

.right {
  @extend .left;
}
