@use 'common' as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-bottom: solid 0.5px map-get($border, "default");
  padding-bottom: 10px;

  h1 {
    font-size: 36px;
    @media (max-width: 560px) {
      font-size: 20px;
    }
  }
  ul {
    display: flex;
    padding-top: 80px;

    @media (max-width: 860px) {
      flex-direction: column;
      min-width: 156px;
      padding-top: 20px;
    }

    // @media (max-width: 405px) {
    //   min-width: 155px;
    // }

    li {
      margin-left: 20px;
      display: flex;

      a {
        color: map-get($text, "prominent");
      }
    }
  }
}
