@use 'common' as *;

.TokenCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;

  .tokenImg {
    flex-basis: 64px;
    flex-grow: 0;
    flex-shrink: 1;

    img {
      width: 100%;
      min-width: 32px;
    }
  }

  .content {
    flex-grow: 1;

    .top {
      align-self: end;
    }

    .bottom {
      align-self: start;
    }
  
    span:first-child {
      justify-self: start;
    }
  
    h1:first-of-type {
      justify-self: start;
      font-weight: 500;
    }
  
    h1, h4 {
      margin: 0;
    }

    column-gap: 4rem;
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    justify-items: end;

    margin-left: 2rem;
    margin-right: 2rem;

    &.isFluid {
      grid-template-columns: 1fr auto auto auto auto;
    }
  }


  &.isMobile {
    padding: 1rem;

    .content {
      grid-template-columns: auto auto;
      row-gap: 0.2rem;
      column-gap: 1rem;
      
      margin-left: 1rem;
      margin-right: 0;

      button {
        justify-self: start;
      }
    }
  }
}