@import "../../styles/config.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  width: 100%;
  border: solid 2px red;
}

.tweetContainer {
  background-color: $backgroundGrey;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  height: 300px;
  margin: 10px;
  padding: 20px;
  margin-bottom: 50px;
}
