.bottle-distribution-container {
  display: grid;
  width: 100%;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: flex-end;
}
.bottle-distribution-container svg {
  aspect-ratio: 1/1;
}

.helper-label svg {
  fill: none;
  stroke: none;
}
.helper-label svg path {
  fill: currentColor;
}

.lootbottle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  padding: 1em 0;
  position: relative;
}

.referral-details-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  padding-bottom: 1em;
}

.leaderboard-container {
  width: 100%;
  padding: 0;
}

.tutorial-slide-container {
  max-width: 100%;
  height: auto;
  padding-bottom: 1em;
}
.tutorial-slide-container .tutorial-image {
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.tutorial-slide-container svg {
  aspect-ratio: 1/1;
}

.tutorial-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.tutorial-nav .tutorial-nav-status {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.tutorial-nav button svg path {
  fill: none !important;
  stroke: currentColor;
}

.staking-modal-input-container {
  border: 1px solid gray;
  display: flex;
  padding: 5px;
  border-radius: 5em 14px 14px 5em;
  max-width: 260px;
}

.staking-modal-token-icon {
  width: 60px;
  cursor: pointer;
}

.staking-modal-token-input {
  background: none;
  border: none;
  width: 100%;
  color: white;
  font-size: 2em;
  outline: none;
  text-align: right;
  box-sizing: border-box;
  padding-right: 5px;
}

.staking-modal-token-selector {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
  height: 72px;
}

.staking-modal-arrow-container {
  width: max-content;
  display: flex;
  align-items: center;
}
.staking-modal-arrow-container svg {
  transform: scale(2);
}
.staking-modal-arrow-container path {
  stroke: white;
}

.duration-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;
}
.duration-column h1 {
  white-space: nowrap;
  overflow: visible;
}
.power-column {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.power-column.rhs {
  align-items: flex-end;
  text-align: right;
}
.power-column .power-text {
  font-size: 3em;
}

.pad-main {
  container-name: main;
  container-type: inline-size;
}

.multiplier-tasks {
  z-index: 0;
  color: black;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 180px 64px 250px;
  gap: 0.5em;
  max-width: 100%;
}
.multiplier-tasks .multiplier-tasks-header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  justify-content: center;
  grid-column: 1/2;
}
.multiplier-tasks .multiplier-tasks-multiplier {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  cursor: pointer;
  grid-column: 2/3;
  justify-content: center;
}
.multiplier-tasks .multiplier-tasks-tasks {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 6px;
}
.multiplier-tasks .multiplier-tasks-tasks a {
  text-align: center;
}

@media (max-width: 1200px) {
  .multiplier-tasks {
    grid-template-columns: auto min-content;
    grid-template-rows: min-content min-content;
    row-gap: 0.5em;
  }
  .multiplier-tasks .multiplier-tasks-header {
    grid-column: 1/2;
    grid-row: 1/2;
    min-width: 200px;
  }
  .multiplier-tasks .multiplier-tasks-multiplier {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .multiplier-tasks .multiplier-tasks-tasks {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-content: center;
  }
}
.leaderboard-header {
  padding: 2em 2em 0 2em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 1em;
  box-sizing: border-box;
  max-width: 100%;
}
.leaderboard-header .leaderboard-header-text .airdrop-ldb-time-filter {
  text-decoration: underline;
}
.leaderboard-header .leaderboard-header-filters {
  display: flex;
  gap: 1em;
}
.leaderboard-header .leaderboard-header-filters button {
  padding: 0.5em 1em;
}
.leaderboard-header h3 {
  margin: 0;
  margin-bottom: 0.5em;
}

.transactions-header {
  display: none;
}

.transaction-table > thead > tr th,
.transaction-table > thead > tr td,
.transaction-table > tbody > tr.airdrop-row th,
.transaction-table > tbody > tr.airdrop-row td {
  padding-left: 2em;
  padding-right: 2em;
}
.transaction-table > thead > tr th:last-child,
.transaction-table > thead > tr td:last-child,
.transaction-table > tbody > tr.airdrop-row th:last-child,
.transaction-table > tbody > tr.airdrop-row td:last-child {
  padding-right: 4em;
}
.transaction-table > thead > tr th:first-child,
.transaction-table > thead > tr td:first-child,
.transaction-table > tbody > tr.airdrop-row th:first-child,
.transaction-table > tbody > tr.airdrop-row td:first-child {
  padding-left: 4em;
}
.transaction-table > thead > tr td,
.transaction-table > tbody > tr.airdrop-row td {
  background-color: transparent !important;
  border-bottom: 1px solid white;
}
.transaction-table > thead > tr:last-of-type td,
.transaction-table > tbody > tr.airdrop-row:last-of-type td {
  border-bottom: none !important;
}
.transaction-table > thead > tr.highlighted-row,
.transaction-table > tbody > tr.airdrop-row.highlighted-row {
  background: linear-gradient(90deg, #f3b8d8 0%, #b793e9 15.1%, #9fd4f3 26.04%, #ffd2c4 36.46%, #fbf3f3 46.88%, #d9abdf 57.29%, #af9ce3 72.4%, #aae4e1 85.42%, #c6ead0 93.23%, #fdb5e4 100%);
}
.transaction-table > thead > tr.highlighted-row td,
.transaction-table > tbody > tr.airdrop-row.highlighted-row td {
  border: none !important;
}

.airdrop-leaderboard-mobile {
  padding: 0;
  gap: 0.5em;
}
.airdrop-leaderboard-mobile .leaderboard-header {
  padding: 0 25px;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}
.airdrop-leaderboard-mobile .leaderboard-header .leaderboard-header-filters {
  align-self: center;
  gap: 2em;
}
.airdrop-leaderboard-mobile .transaction-table > thead > tr td,
.airdrop-leaderboard-mobile .transaction-table > thead > tr th,
.airdrop-leaderboard-mobile .transaction-table > tbody > tr.airdrop-row td,
.airdrop-leaderboard-mobile .transaction-table > tbody > tr.airdrop-row th {
  padding: 0.5em;
}
.airdrop-leaderboard-mobile .transaction-table > thead > tr td:first-child,
.airdrop-leaderboard-mobile .transaction-table > thead > tr th:first-child,
.airdrop-leaderboard-mobile .transaction-table > tbody > tr.airdrop-row td:first-child,
.airdrop-leaderboard-mobile .transaction-table > tbody > tr.airdrop-row th:first-child {
  padding-left: 1em;
}
.airdrop-leaderboard-mobile .transaction-table > thead > tr td:last-child,
.airdrop-leaderboard-mobile .transaction-table > thead > tr th:last-child,
.airdrop-leaderboard-mobile .transaction-table > tbody > tr.airdrop-row td:last-child,
.airdrop-leaderboard-mobile .transaction-table > tbody > tr.airdrop-row th:last-child {
  padding-right: 1em;
}
.airdrop-leaderboard-mobile .transaction-table > thead > tr td,
.airdrop-leaderboard-mobile .transaction-table > tbody > tr.airdrop-row td {
  border-bottom: 1px solid #404040;
}
.airdrop-leaderboard-mobile .transaction-table > thead > tr th,
.airdrop-leaderboard-mobile .transaction-table > tbody > tr.airdrop-row th {
  font-size: 12px;
}

.bottles-earned-button {
  margin-bottom: 0.5em;
  color: white;
  display: flex;
  align-items: center;
  gap: 1em;
}
.bottles-earned-button svg {
  fill: none;
  stroke: currentColor;
}

.airdrop-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.airdrop-stats-item {
  flex-grow: 1;
}

.see-the-leaderboard-button {
  align-self: flex-start;
  justify-self: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1em;
  border: 1px solid white;
  border-radius: 0.5em;
  height: 100%;
  flex-basis: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.airdrop-my-multiplier {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
.airdrop-my-multiplier svg,
.airdrop-my-multiplier path {
  fill: none !important;
  stroke: currentColor !important;
}
.airdrop-my-multiplier.airdrop-mobile {
  grid-template-columns: 1fr;
  gap: 1em;
}
.airdrop-my-multiplier.airdrop-mobile .mx-bloom {
  z-index: -1;
  opacity: 0.5;
  margin-top: -85px;
}
.airdrop-my-multiplier.airdrop-mobile #mx-see-my-staking-stats,
.airdrop-my-multiplier.airdrop-mobile #mx-my-stakes,
.airdrop-my-multiplier.airdrop-mobile #mx-stake-now-button {
  grid-area: unset;
}
.airdrop-my-multiplier.airdrop-mobile #mx-stake-now-button {
  padding: 12px;
  font-size: 12px;
}
.airdrop-my-multiplier.airdrop-mobile .mx-my-multiplier {
  text-align: center;
}
.airdrop-my-multiplier.airdrop-mobile .mx-my-multiplier h1 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
}
.airdrop-my-multiplier #mx-see-my-staking-stats {
  width: 100%;
  grid-area: 2/1;
  box-sizing: border-box;
  align-self: end;
}
.airdrop-my-multiplier #mx-my-stakes {
  display: grid;
  grid-template-columns: auto max-content;
  align-content: start;
  gap: 1em;
  grid-column: 2/3;
  grid-row: 1/3;
}
.airdrop-my-multiplier #mx-stake-now-button {
  width: 100%;
  box-sizing: border-box;
  grid-column: 1/3;
  grid-row: 3/4;
}

.airdrop-header {
  display: flex;
  gap: 2em;
  padding-bottom: 2em;
  white-space: nowrap;
}
.airdrop-header.airdrop-mobile {
  max-width: 100%;
  box-sizing: border-box;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  overflow-x: scroll;
}

.stake-confirm-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  grid-column: 1/4;
}

.airdrop-stake-container {
  display: grid;
  grid-template-columns: auto auto 160px;
  column-gap: 4em;
  row-gap: 2em;
  max-width: 500px;
}
.airdrop-stake-container.airdrop-mobile {
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}
.airdrop-stake-container.airdrop-mobile .airdrop-stake-inputs-column {
  grid-column: 1/3;
}
.airdrop-stake-container.airdrop-mobile .staking-modal-input-container {
  max-width: unset;
  box-sizing: border-box;
  width: 100%;
}
.airdrop-stake-container.airdrop-mobile .stake-confirm-column {
  grid-column: 1/3;
}
.airdrop-stake-container.airdrop-mobile .duration-column {
  grid-column: 1/3;
  width: 100%;
  gap: 0.5em;
  align-items: flex-start;
}
.airdrop-stake-container.airdrop-mobile .duration-column .duration-col-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.airdrop-stake-container.airdrop-mobile .duration-column .slippage-tooltip {
  margin-top: 1em;
}

/*# sourceMappingURL=airdrop.css.map */
