.bottle-distribution-container {
  display: grid;
  width: 100%;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: flex-end;

  svg {
    aspect-ratio: 1/1;
  }
}

.helper-label {
  svg {
    fill: none;
    stroke: none;
    path {
      fill: currentColor;
    }
  }
}

.lootbottle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  padding: 1em 0;
  position: relative;
}

.referral-details-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  padding-bottom: 1em;
}

.leaderboard-container {
  width: 100%;
  padding: 0;
}

.tutorial-slide-container {
  max-width: 100%;
  height: auto;
  padding-bottom: 1em;

  .tutorial-image {
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

  svg {
    aspect-ratio: 1/1;
  }
}

$holo: linear-gradient(
  90deg,
  #f3b8d8 0%,
  #b793e9 15.1%,
  #9fd4f3 26.04%,
  #ffd2c4 36.46%,
  #fbf3f3 46.88%,
  #d9abdf 57.29%,
  #af9ce3 72.4%,
  #aae4e1 85.42%,
  #c6ead0 93.23%,
  #fdb5e4 100%
);

.tutorial-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .tutorial-nav-status {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  button {
    svg {
      path {
        fill: none !important;
        stroke: currentColor;
      }
    }
  }
}

.staking-modal-banner {
  text-align: center;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
}

.staking-modal-input-container {
  border: 1px solid gray;
  display: flex;
  padding: 5px;
  border-radius: 5em 14px 14px 5em;
  max-width: 260px;
}

.staking-modal-selector-token-icon {
  background: none;
  border: none;
}

.staking-modal-token-icon {
  width: 60px;
  cursor: pointer;
}

.staking-modal-token-input {
  background: none;
  border: none;
  width: 100%;
  color: white;
  font-size: 2em;
  outline: none;
  text-align: right;
  box-sizing: border-box;
  padding-right: 5px;
}

.staking-modal-token-selector {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
  height: 72px;
}

.staking-modal-arrow-container {
  width: max-content;
  display: flex;
  align-items: center;
  svg {
    transform: scale(2);
  }
  path {
    stroke: white;
  }
}

.duration-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;

  h1 {
    white-space: nowrap;
    overflow: visible;
  }

  input {
  }
}

.power-column {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &.rhs {
    align-items: flex-end;
    text-align: right;
  }

  .power-text {
    font-size: 3em;
  }
}

.pad-main {
  container-name: main;
  container-type: inline-size;
}

.multiplier-tasks {
  z-index: 0;
  color: black;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 180px 64px 250px;
  gap: 0.5em;
  max-width: 100%;

  .multiplier-tasks-header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
    justify-content: center;
    grid-column: 1 / 2;
  }

  .multiplier-tasks-multiplier {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    cursor: pointer;
    grid-column: 2 / 3;
    justify-content: center;
  }

  .multiplier-tasks-tasks {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 6px;

    a {
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .multiplier-tasks {
    grid-template-columns: auto min-content;
    grid-template-rows: min-content min-content;
    row-gap: 0.5em;

    .multiplier-tasks-header {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      min-width: 200px;
    }
    .multiplier-tasks-multiplier {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .multiplier-tasks-tasks {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      justify-content: center;
    }
  }
}

.leaderboard-header {
  padding: 2em 2em 0 2em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 1em;
  box-sizing: border-box;
  max-width: 100%;

  .leaderboard-header-text {
    .airdrop-ldb-time-filter {
      text-decoration: underline;
    }
  }
  .leaderboard-header-filters {
    display: flex;
    gap: 1em;

    button {
      padding: 0.5em 1em;
    }
  }
  h3 {
    margin: 0;
    margin-bottom: 0.5em;
  }
}

.transactions-header {
  display: none;
}

.transaction-table > thead > tr,
.transaction-table > tbody > tr.airdrop-row {
  th,
  td {
    padding-left: 2em;
    padding-right: 2em;
    &:last-child {
      padding-right: 4em;
    }
    &:first-child {
      padding-left: 4em;
    }
  }

  td {
    background-color: transparent !important;
    border-bottom: 1px solid white;
  }

  &:last-of-type {
    td {
      border-bottom: none !important;
    }
  }

  &.highlighted-row {
    td {
      border: none !important;
    }
    background: $holo;
  }
}

.airdrop-leaderboard-mobile {
  padding: 0;
  gap: 0.5em;
  .leaderboard-header {
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;

    .leaderboard-header-filters {
      align-self: center;
      gap: 2em;
    }
  }

  .transaction-table > thead > tr,
  .transaction-table > tbody > tr.airdrop-row {
    td,
    th {
      padding: 0.5em;

      &:first-child {
        padding-left: 1em;
      }
      &:last-child {
        padding-right: 1em;
      }
    }

    td {
      border-bottom: 1px solid #404040;
    }

    th {
      font-size: 12px;
    }
  }
}

.bottles-earned-button {
  margin-bottom: 0.5em;
  color: white;
  display: flex;
  align-items: center;
  gap: 1em;

  svg {
    fill: none;
    stroke: currentColor;
  }
}

.airdrop-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.airdrop-stats-item {
  flex-grow: 1;
}

.see-the-leaderboard-button {
  align-self: flex-start;
  justify-self: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1em;
  border: 1px solid white;
  border-radius: 0.5em;
  height: 100%;
  flex-basis: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.airdrop-my-multiplier {
  position: relative;

  svg,
  path {
    fill: none !important;
    stroke: currentColor !important;
  }

  &.airdrop-mobile {
    .mx-bloom {
      z-index: -1;
      opacity: 0.5;
      margin-top: -85px;
    }

    grid-template-columns: 1fr;
    gap: 1em;

    #mx-see-my-staking-stats,
    #mx-my-stakes,
    #mx-stake-now-button {
      grid-area: unset;
    }

    #mx-stake-now-button {
      padding: 12px;
      font-size: 12px;
    }

    .mx-my-multiplier {
      text-align: center;

      h1 {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
      }
    }
  }

  #mx-see-my-staking-stats {
    width: 100%;
  }

  #mx-my-stakes {
    display: grid;
    grid-template-columns: auto max-content;
    align-content: start;
    gap: 1em;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  #mx-stake-now-button {
    width: 100%;
    box-sizing: border-box;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

.airdrop-header {
  display: flex;
  gap: 2em;
  padding-bottom: 2em;
  white-space: nowrap;

  &.airdrop-mobile {
    max-width: 100%;
    box-sizing: border-box;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    overflow-x: scroll;
  }
}

.stake-confirm-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  grid-column: 1 / 4;
}

.airdrop-stake-container {
  display: grid;
  grid-template-columns: auto auto 160px;
  column-gap: 4em;
  row-gap: 2em;
  max-width: 500px;

  .airdrop-stake-buttons {
    display: flex;
    gap: 0.5em;
  }

  .staking-modal-token-insufficient {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 12px;
    bottom: -0.5em;
    background: black;
    padding: 0.2em 2em 0.2em 2em;
    border-radius: 12px;
    border: 1px solid red;
  }

  .staking-modal-complete {
    width: 95%;
  }

  .airdrop-stake-inputs-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .stake-inputs-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    .max-button {
      padding: 0.5em 1em;
      border-radius: 100px;
    }
  }

  &.airdrop-mobile {
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;

    .airdrop-stake-inputs-column {
      grid-column: 1 / 3;
    }

    .staking-modal-input-container {
      max-width: unset;
      box-sizing: border-box;
      width: 100%;
    }

    .stake-confirm-column {
      grid-column: 1/3;
    }

    .duration-column {
      grid-column: 1 / 3;
      width: 100%;
      gap: 0.5em;
      align-items: flex-start;

      .duration-col-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1em;
      }

      .slippage-tooltip {
        margin-top: 1em;
      }
    }
  }
}

.scroll-to-leaderboard-button {
  svg {
    transform: rotate(90deg);

    path {
      fill: none;
    }
  }
}

.claim-ropsten {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .ropsten-header {
    h3 {
      margin: 0;
    }

    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
  }

  img {
    top: 0;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    height: 100px;
    object-fit: cover;
  }

  ol {
    padding-left: 1em;
    list-style-type: decimal;
    margin: 0;

    li {
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .ropsten-address-btn {
    color: grey;
    padding: 0.5em 1em;
    display: inline-flex;
    margin-top: 0.5em;
    .ropsten-check > svg {
      width: 10px !important;
      height: 10px !important;

      path {
        stroke: none;
        fill: currentColor;
      }
    }

    svg {
      width: 16px;
      height: 16px;

      path {
        stroke: currentColor;
      }
    }
  }

  .claim-ropsten-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

    .claim-ropsten-input {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      input {
        all: unset;
        padding: 0.5em 1em;
        border: 1px solid grey;
        border-radius: 50px;
      }
    }
  }

  .ropsten-warning {
    margin-top: 1em;
    border-radius: 5px;
    padding: 0.5em;

    &.danger {
      background-color: rgba(255, 105, 105, 0.1);
      color: #ff6969;
      border: 1px solid #ff6969;
      margin-top: 0.5em;
    }

    svg {
      transform: translate(0, 2px);
      margin-right: 0.5em;

      path {
        fill: currentColor;
      }
    }
  }
}

.leaderboard-header-title-row {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  gap: 2em;

  h3 {
    margin: 0;
  }

  .leaderboard-provider-button {
    -webkit-box-shadow: 0px 0px 64px 7px rgb(44, 84, 68);
    -moz-box-shadow: 0px 0px 64px 7px rgb(44, 84, 68);
    box-shadow: 0px 0px 64px 7px rgb(44, 84, 68);
    padding: 0.5em 1em;
    border-color: rgb(53, 193, 151);
    color: rgb(53, 193, 151);
  }
}

.staking-stats-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .staking-stats-header {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
  }

  .staking-stats-withdraw {
    border: 1px gray;
    width: 100%;
  }

  .redeemable-token-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .redeemable-token {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 12em;
      align-items: center;
      gap: 0.5em;

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .staking-stats-stakes-container {
    padding-top: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 50vh;

    .stake {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 1em;

      .stake-date {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }

      .stake-amount {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
      }

      .stake-multiplier {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }

      .stake-date {
        align-self: flex-end;
        margin-bottom: -0.2em;
      }

      .bottom-border {
        width: 100%;
        border: 1px solid gray;
        margin: 1em 0 1em 0;
      }
    }
  }
}

.recap-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-self: center;
  box-sizing: border-box;
  flex-direction: column;
  gap: 150px;
  overflow: hidden;
  padding-top: 50px;
  min-height: 100vh;
  padding-bottom: 150px;

  .recap-hero {
    position: relative;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;

    .recap-hero-text {
      z-index: -1;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.2em;
      align-items: center;
      height: 100%;

      div {
        max-width: 1000px;
      }

      h1 {
        margin: 0.2em;
      }

      button {
        svg {
          path {
            fill: none;
            stroke: currentColor;
          }
        }
      }

      .recap-circle-scroll {
        position: absolute;
        bottom: 0;
        left: 64px;
        width: 150px;
        height: 150px;

        .recap-circle-scroll-arrow {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          svg {
            fill: none;
            stroke: white;
            transform: scale(3);
          }
        }

        .recap-circle-scroll-text {
          font-size: 10px;
          fill: grey;
          letter-spacing: 0.4em;
          text-length: 100%;
        }
      }
    }
  }

  .recap-stats {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2em;

    .recap-mx-list {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .recap-mx-provider {
        position: absolute;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
        padding: 6px;
        border: 1px solid white;
        transition: transform 0.2s ease-in-out;
        img {
          transform: scale(0.8);
        }

        &:hover {
          transform: scale(1.5);
          z-index: 100 !important;
          transition: transform 0.2s ease-in-out;
        }
      }

      .recap-mx-plus {
        position: absolute;
        left: 310px;
        top: 30px;
        font-size: 2em;
        transform: translate(0, -50%);
        color: white;
      }
    }

    .volume-border {
      aspect-ratio: 1/1;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-image: url("/images/airdrop/volume_border.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      h1 {
        font-weight: 800;
      }

      span {
        max-width: 300px;

        &:first-child {
          transform: translate(50%);
        }
      }
    }

    .recap-total-bottles {
      h1 {
        margin: 0;
        margin-bottom: -20px;
      }

      align-items: flex-end;
      display: flex;
      gap: 2em;
      grid-column: 1 / 3;
    }

    .recap-bottle-distribution-container {
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 50px;
      padding: 25px;
      grid-column: 1 / 3;
      overflow-x: scroll;
      overflow-y: auto;

      /* width */
      &::-webkit-scrollbar {
        height: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
        border: 1px solid white;
        border-radius: 5px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 5px;
      }

      .bottle-container {
        gap: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .recap-connect {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;

    recap-connect-text {
      flex-shrink: 1;
      flex-grow: 1;
    }

    button {
      white-space: nowrap;
      cursor: pointer;

      .rc-btn-svg {
        svg {
          fill: none;
          path {
            fill: none;
            stroke: currentColor !important;
          }
        }
      }
    }
  }

  &.recap-mobile {
    padding-top: 25px;

    .recap-total-bottles {
      flex-direction: column;
      align-items: flex-start;
    }

    .recap-hero {
      h1 {
        font-size: 2.5em;
      }
    }

    .recap-stats {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 100px;

      .recap-mx-list {
        height: 100px;
        justify-content: flex-start;
      }

      .volume-border {
        width: 100%;
        box-sizing: border-box;
        aspect-ratio: 1/1;
      }
    }
  }
}

#tutorial,
#staking-stats,
#bottles-details,
#testnet-rewards {
  position: fixed;
}

.airdrop-arb-multipliers-container {
  display: flex;
  padding-top: 20px;
}

.airdrop-arb-multipliers-container > * {
  margin-left: auto;
  margin-right: auto;
}

.recap-fly-count-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.recap-fly-count-child {
  display: block;
}

.recap-fly-count-child-solana {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recap-you-are-eligible-delegate-button-terms-container {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.recap-fly-count-buttons-spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recap-fly-count-eligible-buttons {
  padding-bottom: 20px;
}

.recap-fly-count-buttons-spread > button:nth-child(1) {
  margin-right: 10px;
}

.recap-fly-count-buttons-spread > button:nth-child(2) {
  margin-left: 10px;
}

.recap-fly-count-buttons-spread-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.recap-you-are-eligible-input-delegate-solana {
  display: flex;
  flex-direction: row;
}

.recap-you-are-eligible-ethereum-address-delegate-solana {
}

.legal {
  margin-top: 1em;
}

.recap-fly-count-thank-you {
  text-align: center;
  max-width: 700px;
  padding-bottom: 40px;
}

.recap-fly-count-thank-you-solana {
  text-align: center;
  padding-bottom: 40px;
}

.recap-fly-count-header {
  text-align: center;
}

.recap-fly-count-header-solana {
  text-align: center;
  max-width: 700px;
}

.recap-fly-count-buttons-spread-container-solana {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.recap-terms-of-condition-delegate {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: white;
}

.recap-terms-of-condition-claim-or-stake {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: white;
  text-align: center;
}

.recap-fly-count-delegate-button-success {
  border-color: green;
}

.airdrop-terms-and-conditions-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.75);
}

.airdrop-terms-and-conditions-modal-child {
  max-width: 800px;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  max-height: 1000px;
  overflow: scroll;
}

.airdrop-terms-and-conditions-modal-navbar {
  display: flex;
  justify-content: right;
}

.recap-you-are-eligible-claim-rewards-button {
  cursor: pointer;
}

.recap-you-are-eligible-claim-at-tge-button-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.recap-you-are-eligible-claim-at-tge-button-container span {
  color: white;
}

.recap-you-are-eligible-claim-at-tge-button-container:hover span {
  color: black;
}

.fly-submit-claim-modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.fly-submit-claim-modal-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #131313;
    padding: 3em;
    border: solid white 2px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 546px;
    min-height: 495px;
    margin: auto;
    width: 100%;

    @media (max-width: 527px) {
      max-height: 100vh;
      margin: 0;
      padding: 0.8em;      

      .legal {
        text-align: center;
      }
    }
}

.fly-staking-stats-modal-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #131313;
    padding: 3em;
    border: solid white 2px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 575px;
    min-height: 495px;
    margin: auto;
    width: 100%;

    @media (max-width: 527px) {
      max-height: 100vh;
      height: fit-content;
      overflow-y: auto;
      margin: 0;
      padding: 0.8em;      

      .legal {
        text-align: center;
      }
    }
}

.fly-submit-claim-flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fly-confirming-claim-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 1em;
}

.fly-submit-claim-modal-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-width: 2px;
    border-color: white;
    gap: 1em;
    // position: absolute;
}

.fly-submit-claim-modal-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.fly-submit-claim-modal-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
    padding: 1.5em;
}

.fly-staking-stats-modal-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
    padding: 1.5em;

    @media (max-width: 527px) {
      flex-direction: column;
      padding: 0.5em;
    }
}

.fly-confirming-claim-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.fly-points-info-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.staking-card {
  background-color: #FFD362 !important;
  gap: 1em;
}

.staking-card-container {
  display: flex;
  align-items: end;
  gap: 0.5em;
}

.fly-confirming-claim-header {
  display: flex;
  flex-direction: row;
  // gap: 1em;
  align-items: flex-end;
}

.fly-submit-claim-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
}

.fly-submit-claim-heading {
  font-weight: normal !important;
  margin: 0;
}

.fly-caution-text {
  color: #FFB300;
}

.fly-caution-border {
  border-left: 4px #FFB300 solid;
  margin-left: 1em;
  padding-left: 1em;
}

.fly-caution-centre-text {
  align-self: center;
  margin-bottom: 2em;
}

.fly-submit-claim-action-button {
  width: unset !important;
  align-self: normal !important;
}

.fly-staking-stats-action-button {
  width: 100% !important;
  align-self: normal !important;
}

.underline {
  text-decoration: underline;
}

.fly-submit-claim-action-button-text {
  color: inherit !important;
  display: flex !important;
  align-items: center;
  gap: 0.5em;
}

.fly-continue-claiming-text {
  color: inherit !important;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.stake-your-fly-text {
  color: inherit !important;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.fly-claim-stake-choice-button {
  width: 100% !important;
}

.fly-once-approved {
  margin-top: 1em;
}

.fly-submit-claim-circle {
  // padding: 1em;
}

.fly-submit-claim-outer-modal-container {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.claim-button-staked {
  border: solid lime 2px !important;
  color: lime !important;
  background-color: unset !important;
}

.claim-button-error {
  border: solid red 2px !important;
  color: white !important;
  background-color: unset !important;
}

.show-fly-modal {
  display: flex;
}

.link {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.max-balance-text {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.no-gap {
  gap: 0;
}

.fly-staking-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-with-info-popup {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.staking-input {
  width: 80%;
  color: white;
  background: transparent;
  border: none;
  font-size: 20px;
  outline: none;
}

.staking-input-underline {
  display: flex;
  align-items: center;
  gap: 1em;
  border-bottom: 2px white solid;
  margin-bottom: 1em;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.staking-input-lower {
  justify-content: space-between;
  display: flex;

  @media (max-width: 527px) {
    text-align: center;
  }
}

.center-text {
  text-align: center;
}

.info-circle-grey > path {
  fill: #828381;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.black {
  color: black !important;
}

.rainbow {
  position: relative;
  overflow: hidden;
  font-size: 15px;
  box-shadow: 0 0 8px 2px #f3b8d8;
}

.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -20%;
  top: -150%;
  width: 400px;
  height: 400px;
  background-color: #f3b8d8;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(
    45deg,
    #f3b8d8,
    #b793e9,
    #9fd4f3,
    #ffd2c4,
    #fbf3f3,
    #d9abdf,
    #af9ce3,
    #aae4e1,
    #c6ead0,
    #ffffff,
    #fdb5e4
  );
  animation: rotate 4s linear infinite;
}

.rainbow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 3px;
  top: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: black;
  border-radius: inherit;
}

.rainbow:hover > h5 {
  color: black;
}

.rainbow:hover:focus > h5 {
  color: white;
}

.rainbow:hover:focus::after {
  background: black;
}

.rainbow:hover::after {
  background: transparent;
}

claim-error-message-none {
  display: hidden;
}

.claim-error-message {
  display: block;
}
