.bottle-distribution-container {
  position: relative;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
}

.lootbottle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  padding: 1em 0;
}

.referral-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding-bottom: 1em;
}

.leaderboard-container {
  width: 100%;
}

.staking-modal-input-container {
  border: 1px solid gray;
  display: flex;
  padding: 5px;
  border-radius: 5em 14px 14px 5em;
}

.staking-modal-token-icon {
  width: 64px;
}

.staking-modal-token-input {
  background: none;
  border: none;
  width: 100%;
  color: white;
  font-size: 2em;
  outline: none;
}
