main > section#graph {
  min-height: 5vh;
}

section#transactions {
  min-height: 5vh;
}

.statistics-set {
  display: flex;
  flex-direction: column;
}

.statistics-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.graph-ceiling {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.transaction-table {
  width: 100%;
}

@media (max-width: 500px) {
  .graph-ceiling {
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
  }
}
