#user-rewards {
  width: auto;
  padding: 2em;
  margin-bottom: 2em;
  max-width: 60em;
}

#performance {
  margin-bottom: 3em;
}

#infobox > h5 {
  margin: 0;
}

.unclaimed-rewards {
  flex-direction: row;
  gap: 6em;
  padding: 2em;
  width: calc(100% - 4em);
  max-width: 1200px;
}

#infobox {
  min-width: 200px;
  max-width: 450px;
}

#unclaimed {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

#unclaimed-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

#unclaimed-left > h1 {
  margin: 0;
}

#spend-to-earn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.spendToEarnHeading {
  margin-top: 0;
}

.statistics-set {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.highest-performer-child {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.statistics-row {
  display: flex;
  flex-wrap:wrap;
  row-gap: 1em;
  column-gap: 4em;
  margin-top: 12px;
}

.graph-ceiling {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#no-user-rewards {
  display: flex;
  padding: 2em;
  height: calc(100% - 4em);
  width: calc(100% - 4em);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.reward-ctas {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2em;
  grid-template-rows: max-content;
}

.row-value {
  padding: 0;
  margin: 0;
}

.claims-title {
  margin: 0 0 5px 0;
}

.view-breakdown-button {
  text-align: center;
}

.fees {
  display: flex;
  justify-content: space-between;
}

.line {
  border: none;
  height: 0.025em;
  background-color: white;
  width: 99%;
}

.gradient-line {
  border: none;
  height: 1px;
  background: linear-gradient(to right, black, white, white, black);
}

.rewards-carousel {
  margin-left: -30px;
  margin-bottom: 50px;
}

.carousel-card-container {
  width: 360px;
  margin-right: 20px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .card-inner {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .unclaimed-rewards {
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
  }

  #unclaimed-left {
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  #infobox {
    margin-left: 0;
    max-width: 450px;
    justify-self: center;
  }

  .reward-ctas {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 950px) {
  #unclaimed-left {
    flex-direction: column;
    align-items: center;
  }
  #unclaimed {
    align-items: center;
    gap: 0.5em;
    padding: 0;
  }
  .statistics-set .container .value > h1 {
    font-size: 1.75em;
  }

  #infobox {
    max-width: 300px;
  }

  #spend-to-earn > h2 {
    margin-bottom: 0.3em;
  }
}

@media (max-width: 500px) {
  .no-user-rewards {
    align-items: center;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .no-user-rewards > section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .no-user-rewards > section > span {
    text-align: center;
  }

  #infobox {
    padding: 0.5em;
  }

  #spend-to-earn {
    align-items: center;
  }

  #user-rewards {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.reward-ceiling {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.reward-ceiling > h2,
.reward-ceiling > h3 {
  margin: 0;
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.center-table-loading-anim {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rewards-cta-providers {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 3em;
  width: 100%;
  height: 3.5em;
}

.rewards-cta-providers>a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 3.5em;
  -webkit-user-drag: none;
}

.rewards-cta-providers>a>img {
  position: absolute;
  width: 100%;
  -webkit-user-drag: none;
  object-fit: contain;
}

.rewards-cta-providers>a:first-child>img,
.rewards-cta-providers>a:last-child>img {
  position: absolute;
  top: 4em;
  left: 0;
}

.rewards-cta-providers>a:last-child>img {
  left: auto;
  right: 0;
}

.rewards-cta-providers.compact>a>img {
  top: 0;
}

.compactSlide {
  flex-direction: column-reverse;
}
.compactSlide>h1{
  margin: 0;
  margin-bottom: 0.8em;
}

.hover-prizes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hover-prize-value {
  display: flex;
  flex-direction: column;
}

.hover-provider-icon {
  width: 3em;
}