@import "../../styles/config.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  max-height: 960px;
  width: 100%;
  opacity: 0.7;
  overflow-y: hidden;
}

.text {
  position: absolute;
  z-index: 0;
}

.card:hover {
  filter: none !important;
  background-color: $fluidWhite !important;
  opacity: 1;
  height: 400px;
}