@import "../../styles/config.scss";

.container {
  max-width: 90dvw;
  height: auto;
  align-self: center;
  margin-top: 100px;
  margin-bottom: 200px;
  display: grid;
  row-gap: 20px;
  column-gap: 50px;
  grid-template-columns: auto 1fr;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;

  @media (max-width: 1300px) {
    grid-template-columns: 1fr;
    margin-top: 50px;
    margin-bottom: 100px;
    column-gap: 0;
  }

  .heading {
    grid-column: 1/2;
    width: 100%;
    max-width: 90dvw;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 1300px) {
      align-items: center;
      text-align: center;
      h1 {
        font-size: 3em;
      }
    }

    @media (max-width: 400px) {
      h1 {
        font-size: 2em;
      }
    }

    h1 {
      margin-top: 10px;
      line-height: 0.9;
    };
  }

  .r1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
    grid-column: 2/3;
    align-self: end;
    position: relative;

    @media (max-width: 1300px) {
      grid-column: 1/2;
    }

    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 1)
      );

      @media (max-width: 1300px) {
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0) 30%,
          rgba(0, 0, 0, 0) 70%,
          rgba(0, 0, 0, 0.5)
        );
      }
      z-index: 1;
    }
  }

  .r2 {
    grid-column: 1/3;
    position: relative;
    margin-bottom: 70px;

    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 1)
      );
      z-index: 1;
    }

    .inner {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }

  .nav {
    width: 50px;
    display: flex;
    gap: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) scale(1.5);

    .navBtn {
      flex-shrink: 0;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;

      &:hover {
        background-color: rgba(255,255,255,0.1);
      }

      svg > path {
        stroke: white;
      }
    }
  }
}

.sponsor {
  flex-shrink: 0;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }

  &.sm {
    width: 200px;
    height: 80px;
  }

  &.lg {
    width: 300px;
    height: 120px;
  }

  .inner {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      object-fit:contain;
    }
  }
}
