// scss file for variables and properties (e.g. $primary-color, color classes etc.)
$background-gradient: -webkit-linear-gradient(45deg, #050D12 -0.52%, #0D252D 31.94%, #1A3E53 100%);
$primary-color: -webkit-linear-gradient(45deg, #16899b 0%, #02f5a3 100%);
$secondary-color: -webkit-linear-gradient(45deg, #5259ff 0%, #02e6f5 100%);
$prize-color: -webkit-linear-gradient(30deg, #16899B 0%, #FCF203 110%);
$graph-color: -webkit-linear-gradient(180deg, #0ACAA0 0%, rgba(10, 202, 160, 0) 100%);
$currency-color: -webkit-linear-gradient(45deg, #ffffff 0%, #02e6f5 100%);
$border-color: #7daaa6;
$background-dark: #1A1C1F;
$background-notasdark: #212429;
$background-transparent: #0202024d;
$container-colour: hsl(213, 74%, 8%);
$container-colour-lighter: hsl(213, 74%, 9%);

