name: DB Migration - Mainnet (Manual)

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Environment'
        options:
          - 'mainnet'
      network:
        type: choice
        description: 'Network'
        options: 
          - 'solana'
          - 'ethereum'
          - 'all'

permissions:
  id-token: write
  contents: read

jobs:
  db-migration:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-region: ap-southeast-2
          role-to-assume: ${{ secrets.FLU_AWS_GITHUB_OIDC_ROLE }}
          role-duration-seconds: 7200 #seconds
      - name: DB Migration
        uses: ./scripts/actions
        with:
          command: |
            flu migrate-db \
              --network ${{ github.event.inputs.network }} \
              --environment ${{ github.event.inputs.environment }} \
              --tag $GITHUB_SHA

