name: Rollback Frontends (Previous Commit)

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Environment'
        options:
          - 'mainnet'
      network:
        type: choice
        description: 'Network'
        options: 
          - 'fluidity'

permissions:
  id-token: write
  contents: read

jobs:
  rollback-app:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-region: ap-southeast-2
          role-to-assume: ${{ secrets.FLU_AWS_GITHUB_OIDC_ROLE }}
          role-duration-seconds: 3600 #seconds
      - name: Display Commit Hash
        run: |

          git checkout HEAD~1
          PREVIOUS_COMMIT=$(git log -1 --format='%H')

          echo "PREVIOUS_COMMIT=$PREVIOUS_COMMIT" >> $GITHUB_ENV
          echo ""
          echo "CommitHash: $(git log -1 --format='%H')"
          echo ""

      - name: Build
        id: build
        uses: ./scripts/actions
        with:
          command: |
           
            echo ${{ env.PREVIOUS_COMMIT }}

