.tooltip_container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.tooltip {
  max-width: 780px;
  margin-top: 16px;
  display: flex;
  position: relative;
  cursor: pointer;
}

.tooltip_content {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 24px 13px 24px 24px;
}

.tooltip_close_btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-top: 15px;
  margin-right: 8px;
  cursor: pointer;
}

.asset_type_text_color {
  font-weight: 700;
}

.tool_content_link {
  margin-left: 100px;
  margin-right: 30px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: white;
}

.tooltip_title {
  margin-right: 10px;
}

.tool_icon {
  width: 35px;
  height: 35px;
  margin-right: 7px;
  align-self: center;
}

.tool_cancel_btn {
  margin-left: 28px;
  font-weight: 700;
  font-size: 21px;
}

.toolkit_duration_bar {
  display: block;
  height: 2px;
  background-color: white;
}

.tool_detail_section {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 620px) {
  .tooltip_container {
    position: fixed;
    top: 91vh;
    -webkit-transform: translateX(50%) rotateX(180deg);
    transform: translateX(50%) rotateX(180deg);
    right: 50%;
  }

  .tooltip {
    width: 95vw;
  }

  .tooltip_title {
    white-space: nowrap;
    font-size: 3vw;
  }

  .tool_content_link {
    font-size: 3vw;
    margin-left: 9vw;
  }

  .tooltip_content {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    padding: 17px 7px 17px 5px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  .tooltip_content_details {
    white-space: nowrap;
    font-size: 3vw;
  }

  .tool_cancel_btn {
    margin-left: -6vw;
    font-size: 15px;
  }

  .tool_icon {
    width: 20px;
    height: 20px;
  }

  .toolkit_duration_bar {
    display: none;
  }
}
